/********(***********common public**************)*****/
.textCenter {
    text-align: center;
}

.PosRelative {
    position: relative;
}

.borderBottom {
    border-bottom: 1px solid #999999;
}

.whiteColor {
    color: #ffffff;
}

/********(***********btn common**************)*****/
/*ooCss、1）容器和样式相分离,2）容器 样式和事件相分离*/
.btn {
    width: 70px;
    height: 30px;
    line-height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.btn-primary {
    background: #22b6f7;
    border: 1px solid #22b6f7;
    color: #fff;
}

.btn-primary-hover:hover {
    background: rgba(34, 182, 247, 0.8);
}

/********(***********header nav Position**************)*****/
.PosRelative {
    position: relative;
}

.PosRelative ul,
.leftBar-PosRelative ul {
    display: none;
    position: absolute;
    top: 40px;
    background: #ffffff;
    border: 1px solid #999;
    z-index: 999;
}

.PosRelative ul.listDown_show {
    width: 90px;
    left: -12px;
}

.PosRelative ul.listDown_show li:hover,
.header-list li a:hover,
.leftBar-header ul li:hover {
    color: #1890ff;
}

.PosRelative ul.listDown_save {
    width: 80px;
    left: -2px;
    text-align: center;
}

.PosRelative ul.listDown_apart {
    width: 200px;
    left: -50px;
    text-align: center;
}

.PosRelative ul.listDown_help {
    width: 60px;
    left: -2px;
    text-align: center;
}

.PosRelative ul.listDown_user {
    width: 120px;
    left: -40px;
    text-align: left;
}

.PosRelative ul.listDown_user i {
    padding: 0px 10px;
}

.PosRelative ul.listDown_save li:hover,
.PosRelative ul.listDown_help li:hover,
.PosRelative ul.listDown_user li:hover,
.PosRelative ul.listDown_apart li:not(:nth-child(1)):not(:nth-child(2)):hover,
.leftBar-PosRelative ul.leftBar-cloud-m1 li:hover,
.leftBar-PosRelative ul.leftBar-cloud-m2 li:hover,
.leftBar-PosRelative ul.leftBar-demo-s1 li:hover,
.leftBar-PosRelative ul.leftBar-demo-s2 li:hover {
    background: #bdbdbd;
    color: #ffffff;
}

.listDown_apart input[type='range'] {
    width: 100px;
    margin-left: 10px;
}

.PosRelative:hover ul,
.leftBar-PosRelative:hover ul {
    display: block;
}

.PosRelative:hover {
    background: #ffffff;
}

/*leftBar 下拉*/
.leftBar-PosRelative ul.leftBar-cloud-m1,
.leftBar-PosRelative ul.leftBar-demo-s1 {
    width: 75px;
    top: 70px;
    left: 5px;
    text-align: center;
}

.leftBar-PosRelative ul.leftBar-cloud-m2,
.leftBar-PosRelative ul.leftBar-demo-s2 {
    width: 75px;
    top: 70px;
    left: 85px;
    text-align: center;
}

.leftBar-cloud-nav,
.leftBar-demo-nav,
.leftBar-brand-nav {
    height: 30px;
    line-height: 30px;
    background: #797979;
}

.leftBar-brand-nav ul li {
    float: right;
}

.leftBar-listDown > li {
    float: left;
    width: 33.3%;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.leftBar-cloud-m1,
.leftBar-cloud-m2,
.leftBar-demo-s1,
.leftBar-demo-s2 {
    height: 200px;
    overflow-y: scroll;
}

.leftBar-cloud-m1 li,
.leftBar-cloud-m2 li,
.leftBar-demo-s1 li,
.leftBar-demo-s2 li {
    color: #999;
}

/*leftBar-cloud 滚动条美化 IE不支持*/
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background-color: #b1b1b1;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-button {
    background-color: #b1b1b1;
}

::-webkit-scrollbar-corner {
    background-color: #b1b1b1;
}



