html, body, .canvasWrapper, canvas {
    width: 100%;
    height: 100%;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

.canvasWrapper {
    overflow: hidden;
}

canvas {
    margin: 0;
    padding: 0;
    width: 2400px;
    height: 1800px;
}

/********(***********header**************)*****/
.header {
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 1;
    top: 0px;
    line-height: 40px;
    background: #d4d4d4;
    border-bottom: 1px solid #969696;
}

.header-logo {
    float: left;
}

.header-logo img {
    height: 40px;
}

.header-logo span {
    vertical-align: 10%;
    font-weight: bolder;
    font-size: 14px;
    color: #999;
}

.header-list-wrapper {
    float: right;
    font-size: 12px;
}

.header-list {
    margin-right: 20px;
    color: #666666;
    cursor: pointer;
}

.header-list > li {
    float: left;
    padding: 0px 10px;
    margin: 0px 2px;
}

.header-list > li a {
    display: inline-block;
}

.header-list li i {
    padding-right: 5px;
}

.lowerTri {
    padding-left: 5px;
}

.header-list li ul li {
    float: none;
    height: 35px;
    line-height: 35px;
}

/********(***********little map**************)*****/
.mapWrapper {
    min-height: 500px;
    position: absolute;
    right: 0px;
    top: 60px;
    z-index: 0;
    overflow: hidden;
}

.map-list {
    margin-right: 90px;
    position: relative;
}

.map-list li {
    float: none;
    height: 30px;
    margin-right: -5px;
    padding: 0px 3px;
    display: inline-block;
    line-height: 30px;
    background: #ffffff;
    color: #666666;
    cursor: pointer;
    border: 1px solid #999999;
}

.map-list li:nth-child(1) {
    border-radius: 10px 0px 0px 10px;
}

.map-list li:nth-child(3) {
    border-radius: 0px 10px 10px 0px;
}

.map-list li i {
    padding: 0px 2px;
}

.map-active {
    background: #a1a8ae !important;
    color: #ffffff !important;
}

.map-list li:hover {
    background: #a1a8ae;
    color: #ffffff;
    border-left: 1px solid #ffffff;
}

.mapResultWrapper, .mapNavWrapper {
    width: 60px;
    height: 80px;
    position: absolute;
    right: 0px;
    background: #ffffff;
    border: 1px solid #999999;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.mapNavWrapper, .createMapNav {
    top: 5px;
}

.mapResultWrapper, .createMapResult {
    top: 100px;
}

.mapNavWrapper:hover .mapNav-header,
.mapResultWrapper:hover .mapResult-header {
    background: #cfd9e2;
}

.mapNav-header, .mapResult-header {
    width: 100%;
    height: 20px;
    padding: 0px 5px;
    background: #d8d8d8;
    color: #666666;
    font-size: 10px;
    line-height: 20px;
    text-align: left;
}

.mapNav-main, .mapResult-main {
    text-align: center;
    color: #666666;
    padding-top: 10px;
}

.mapNav-main i, .mapResult-main i {
    font-size: 20px;
    color: #bfbfbf;
}

.mapNav-main p, .mapResult-main p {
    font-size: 12px;
}

/*放大后*/
.mapNav-header-i, .mapResult-header-i {
    width: 5%;
    padding-top: 5px;
    float: left;
    cursor: pointer;
}

.mapNav-header-title, .mapResult-header-title {
    width: 90%;
    text-align: center;
    padding-right: 10px;
    float: left;
}

.createMapNav, .createMapResult {
    width: 200px;
    height: 200px;
    position: absolute;
    right: -202px;
    background: #ffffff;
    border: 1px solid #999999;
}

/********(***********leftBar**************)*****/
.leftBarWrapper {
    width: 250px;
    height: 96%;
    position: absolute;
    top: 40px;
    background: #ffffff;
    border: 1px solid #999999;
    overflow: hidden;
}

.leftBar-header {
    height: 40px;
    line-height: 40px;
}

.leftBar-header ul li {
    padding: 0px 5px;
    list-style: none;
    float: left;
    color: #666666;
    font-size: 14px;
    cursor: pointer;
}

.leftBar-header ul li i,
.leftBar-cloud-nav ul li i {
    padding: 0px 2px;
}

.leftBar-brand-nav ul li i {
    padding-right: 5px;
}

.leftBar-active {
    color: #1890ff !important;
}

.leftBar-demo, .leftBar-brand {
    display: none;
}

.leftBar-tab {
    height: 100%;
}

.leftBar-demo-main {
    width: 100%;
    height: 90%;
    background: #f1f1f1;
    position: relative;
    overflow-y: scroll;
}

.leftBar-demo-main > ul li {
    position: relative;
    width: 100%;
    height: 150px;
    margin-top: 10px;
}

.leftBar-demo-main ul li img {
    width: 100%;
    height: 100%;
    min-height: 150px;
    display: block;
    margin: 0px auto;
}

.leftBar-demo-main ul li button {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 40%;
    left: 35%;
    margin: auto;
}

.item-cover {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    cursor: pointer;
}

.leftBar-demo-main ul li:hover .item-cover {
    display: block;
}

/*leftBar-brand-main*/
.leftBar-brand-main {
    position: relative;
}

.leftBar-brand-main .leftBar-pageCut-wrapper {
    bottom: 35px;
}

.leftBar-brand-main > ul li {
    width: 50%;
    min-height: 60px;
    position: relative;
    float: left;
    cursor: pointer;
}

.leftBar-brand-main ul li {
    margin-top: 10px;
}

.leftBar-brand-main ul li:hover .item-cover {
    display: block;
}

.leftBar-brand-main ul li img {
    width: 100%;
    height: 100%;
    min-height: 60px;
}

/*分页*/
.leftBar-pageCut-wrapper {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 50px;
}

.leftBar-pageCut-wrapper ul {
    position: absolute;
    right: 0px;
}

.leftBar-pageCut-wrapper ul li {
    width: 20px;
    height: 20px;
    margin-left: 1px;
    border: 1px solid #999999;
    float: left;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
}

.leftBar-pageCut-wrapper ul li:not(:nth-child(5)):hover {
    background: #9a9a9a;
    color: #ffffff;
}

.pageCut-item-active {
    background: #9a9a9a;
    color: #ffffff;
}

.leftBar-pageCut-wrapper ul li input[type="text"] {
    width: 100%;
    height: 90%;
    border: none;
    outline: none;
    border-bottom: 1px solid #999999;
    text-align: center;
    line-height: 20px;
}

/*leftBar-cloud-aside*/
.leftBar-cloud-aside {
    width: 40px;
    height: 100%;
    float: left;
    background: #f4f4f4;
}

.leftBar-cloud-aside ul.addBorder {
    width: 100%;
    height: 100%;
    border-right: 1px solid #999999;
}

.leftBar-cloud-aside ul li {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    color: #9e9e9e;
    cursor: pointer;
    border-right: 1px solid #999999;
}

.leftBar-cloud-aside ul li i {
    display: block;
    font-size: 18px;
}

.leftBar-cloud-aside ul li:hover {
    color: #1890ff;
}

.leftBar-cloud-relative {
    position: relative;
}

.leftBar-cloud-relative:hover {
    border-right: none;
    background: #ffffff;
    border-bottom: 1px solid #999999;
}

.leftBar-cloud-relative:hover .cloud-showWrapper {
    display: block;
}

.cloud-showWrapper {
    display: none;
    position: absolute;
    left: 40px;
    top: -1px;
    width: 205px;
    padding: 5px 0px;
    background: #ffffff;
    border: 1px solid #999999;
    border-left: none;
    z-index: 999;
}

.cloud-showWrapper ul li, .leftBar-cloud-mNav ul li {
    width: auto;
    float: left;
    margin-left: 5px;
    border: none;
}

.cloud-showWrapper ul li i, .leftBar-cloud-mNav ul li i {
    width: auto;
    padding: 4px 5px;
    font-style: normal;
    font-size: 10px;
}

.cloud-showWrapper ul li i.i-active,
.cloud-showWrapper ul li i:hover,
.leftBar-cloud-mNav ul li i:hover {
    background: #999999;
    color: #ffffff;
    border-radius: 2px;
}

.leftBar-cloud-main {
    width: 250px;
    height: 100%;
    background: #ffffff;
}

.leftBar-aside-tab:not(:nth-child(2)) {
    display: none;
}

.leftBar-aside-tab {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.aside-tab-active {
    background: #ffffff;
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    border-right: none !important;
}

.leftBar-cloud-mNav {
    width: 250px;
    min-height: 50px;
    background: #f2f2f2;
    cursor: pointer;
}

.leftBar-cloud-mNav ul li i {
    line-height: 25px;
}

.leftBar-cloud-mMain {
    width: 250px;
    height: 100%;
    background: #ffffff;
    border: none;
    margin-left: 2px;
}

.leftBar-cloud-mMain ul li {
    width: 95px;
    text-align: center;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.leftBar-cloud-mMain ul li:hover {
    outline: 2px solid #000000;
}

.leftBar-cloud-mMain ul li img {
    width: 100%;
    height: 95px;
}