.container1200{width:1220px; margin: 0 auto;font-family: "Microsoft YaHei";}
.iconNew{background: url(../images/iconnew.png) no-repeat;}
.aboutUsAd{margin-bottom:20px;}
.aboutUsAd img{display: block;width: 100%;}
.aboutUsIntroduction{padding-top: 60px;padding-bottom: 40px;background-color: #faf9f5;}
.aboutUsIntroductionList ul li {float: left;margin: 0 44px; }
.aboutUsIntroductionList ul{width: 1160px;margin: 0 auto; }
.aboutUsIntroductionList ul li i{display: inline-block;width: 196px;height: 196px;border-radius: 50%;}
.aboutUsIntroductionList ul li.we i{background:url(../images/aboutusicon.png) no-repeat;}
.aboutUsIntroductionList ul li.pro i{background-position: -214px -449px;}
.aboutUsIntroductionList ul li.tec i{background-position: -427px -449px;}
.aboutUsIntroductionList ul li.tar i{background-position: -639px -449px;}
.aboutUsIntroductionList ul li h3{margin: 20px 0; font-size: 18px;color: rgb( 51, 51, 51 );line-height: 1.42;}
.aboutUsIntroductionList ul li p{font-size: 14px;color: rgb( 153, 153, 153 );line-height: 1.826;}
.aboutUs{background-color: #fff;padding: 20px 0;}
.aboutUsInner{width: 1030px;margin: 0 auto;}
.Stitle {font-size: 24px;color: rgb( 51, 51, 51 );line-height: 0.8;margin: 35px 0; padding-left: 15px;border-left:8px solid #ffca7f; }
.Stitle span{margin-left: 10px; font-size: 22px;color: rgb( 70, 195, 203);color: rgba( 70, 195, 203, 0.502 );line-height: 1.364;}
.aboutUsDetails{padding-left: 25px;font-size: 14px;color: #999;line-height: 30px;}
.news {padding: 65px 0 100px;background: url(../images/newsbg.jpg) center repeat-y;}
.Btitle{text-align: center;}
.newsInner .Btitle{margin-bottom: 35px;}
.newsList{width: 1080px;background-color: #fff;padding: 11px 37px;margin: 0 auto;}
.newsList ul li{padding: 10px 0;}
.newsList img{width: 247px;height: 156px;float: left;}
.newsList .con{width: 755px; height: 145px;padding-top: 20px; padding-right: 35px;margin-left: 20px;border-bottom: 1px solid #eeeeee;}
.newsList .con  .title a{font-size: 14px;font-family: "SimSun";color: rgb( 102, 102, 102 );line-height: 1.826;}
.newsList .con .title a:hover{color: #ffc48d;}
.newsList .con .content{font-size: 14px;font-family: "SimSun";color: rgb( 153, 153, 153 );line-height: 1.826;padding-top: 15px;}
.newsList .con  .content a{color: #3fa0f3;}
.aboutUsImgList{width: 100%;overflow: hidden;}
.aboutUsImgList img{float:left; width:11.1%;height:134px;}















































