.container1200{width:1220px; margin: 0 auto;font-family: "Microsoft YaHei";}
.container12{position: relative; width:1200px; margin: 0 auto;font-family: "Microsoft YaHei";}
.minWidth{min-width: 1200px;_width:1200px;}
.iconNew{background: url(../images/iconnew.png) no-repeat;}
#margin0{margin-right: 0;}
.cloudDesignNav{position: relative;width: 100%; height: 80px;background-color: #f5f5f5;/*border-bottom: 1px solid #c9c9c9;*/}
.cloudDesignNavList ul{margin-left:162px;}
.cloudDesignNavList ul li{float: left;margin-right: 20px; text-align: left;width: 140px;}
.cloudDesignNavList ul li a{display: block;line-height: 80px;font-size: 14px;color: #2c2c2c;}
.cloudDesignNavList ul li a:hover,
.cloudDesignNavList ul li.active a{/*background-color: #6aa6f8;*/color: #1890ff;}
.cloudDesignNavList ul li i{display: inline-block;width: 30px;height: 35px;vertical-align: middle;margin-right: 9px;background:url(../images/nav-icon.png) no-repeat;
                            transition: 0.4s ease-in-out;
                            -webkit-transition: 0.4s ease-in-out;
                            -moz-transition: 0.4s ease-in-out;
                            -o-transition: 0.4s ease-in-out;}
.cloudDesignNavList ul li.CDTY i{background-position: -1px -3px;}
.cloudDesignNavList ul li.CDCG i{background-position: -34px -3px;}
.cloudDesignNavList ul li.CDYG i{background-position: -67px -3px;}
.cloudDesignNavList ul li.CDDD i{background-position: -101px -2px;}
.cloudDesignNavList ul li.CDPZ i{background-position: -134px -3px;}
.cloudDesignNavList ul li.CDTC i{background-position: -168px -3px;}
.cloudDesignNavList ul li.CDTY:hover i,
.cloudDesignNavList ul li.CDTY.active i{background-position: -1px -43px;}
.cloudDesignNavList ul li.CDCG:hover i,
.cloudDesignNavList ul li.CDCG.active i{background-position: -34px -43px;}
.cloudDesignNavList ul li.CDYG:hover i,
.cloudDesignNavList ul li.CDYG.active i{background-position: -67px -43px;}
.cloudDesignNavList ul li.CDDD:hover i,
.cloudDesignNavList ul li.CDDD.active i{background-position: -101px -42px;}
.cloudDesignNavList ul li.CDPZ:hover i,
.cloudDesignNavList ul li.CDPZ.active i{background-position: -134px -43px;}
.cloudDesignNavList ul li.CDTC:hover i,
.cloudDesignNavList ul li.CDTC.active i{background-position: -168px -43px;}

/*3D通用云设计CSS*/
.TYbanner{position: relative; width: 100%;height: 480px; background: url(../images/3dbanner.jpg) center top no-repeat;}
.TYbanner a{display:block; position: relative;top: 275px;left: 695px;width: 162px;height: 48px;line-height: 48px;text-align: center;font-size: 24px;color: rgb( 164, 98, 22 );border: 1px solid #ffdb8e;border-radius: 8px;background-color: #ffdb8e;}
.openAdvisory{display:inline-block;position:relative;float:left;margin-right:20px;width:162px;height:48px;line-height:48px;text-align:center;font-size:24px;border-radius:7px;}
.CGbanner .openAdvisory{color:#a4542e;background-color: #facd89;}
.YGbanner .openAdvisory{color: #fff9d0;background-color: #c27049;}
.DDbanner .openAdvisory{color: #706f6f;background-color: #f6f6f6;}
/* Features css*/
.TYicon{display: inline-block;vertical-align: middle;background-image: url(../images/specialfeatureicon.png);background-repeat:no-repeat; }
.Features{padding-bottom: 100px; background: #e8e8e8 url(../images/featuresbg.jpg) center bottom no-repeat;}
.Features h3{padding: 10px 0; font-size: 30px;color: rgb( 112, 111, 111 );line-height: 1.389;text-align: center;}
.FeaturesCon{width: 1164px;margin: 0 auto;}
.FeaturesList li{float: left;margin: 12px 12px 0 0;background-color: #fff;border-radius: 5px;padding: 16px;}
.FeaturesList li .FeaturesListImg{overflow: hidden;position: relative;}
.FeaturesList li .FeaturesListImg img{transition: all 800ms;display: block;width: 348px;}
.FeaturesList li .FeaturesListImg:hover img{-moz-transform:scale(1.2);  -webkit-transform:scale(1.2);  -o-transform:scale(1.2);}
.FeaturesList li .FeaturesListImg .FeaturesListIcon{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.FeaturesList li .FeaturesListImg .FeaturesListIcon div{background-color: #000;opacity: 0.502;filter:Alpha(opacity=50);width: 100%;height: 100%;}
.FeaturesList li .FeaturesListImg .FeaturesListIcon i{position: absolute;width: 120px;height: 120px; top: 50%;left: 50%;margin-top: -60px;margin-left: -60px;background-repeat: no-repeat;}
.FeaturesList li .FeaturesListImg .FeaturesListIcon1 i{background-image: url(../images/features1.png);}
.FeaturesList li .FeaturesListImg .FeaturesListIcon2 i{background-image: url(../images/features2.png);}
.FeaturesList li .FeaturesListImg .FeaturesListIcon3 i{background-image: url(../images/features3.png);}
.FeaturesList li .FeaturesListImg .FeaturesListIcon4 i{background-image: url(../images/features4.png);}
.FeaturesList li .FeaturesListImg .FeaturesListIcon5 i{background-image: url(../images/features5.png);}
.FeaturesList li .FeaturesListImg .FeaturesListIcon6 i{background-image: url(../images/features6.png);}
.FeaturesList li .FeaturesListDet{margin-top: 10px; height: 110px;}
.FeaturesList li .FeaturesListDet p{font-size: 16px;text-indent: 10px;line-height: 25px; color: rgb( 51, 51, 51 );text-align: left;}
/*3D通用云设计Special feature*/ 
.specialFeatureWrap{padding-bottom: 50px; background: url(../images/specialfeaturelbg.jpg) center top no-repeat;}
.TYspecialFeatureTit{padding-top: 70px; text-align: center;font-size: 36px;color: #000;}
.TYspecialFeatureTit i{width: 52px;height: 52px;background-position: 0 -150px;margin-right: 8px;}
.TYspecialFeatureCon2 .TYspecialFeatureTit i{background-position: -60px -150px;}
.TYspecialFeatureCon{position: relative;}
.TYspecialFeatureCon1{position: relative;height: 600px; border-bottom:1px solid #ccd4db;}
.TYspecialFeatureCon1>div{height: 600px;}
.TYspecialFeatureCon1 ul li{position: absolute; width: 290px;cursor: pointer;}
.TYspecialFeatureCon1 ul li i{width: 65px;height: 65px;margin-top: 15px;}
.TYspecialFeatureCon1 ul li.fir i{background-position: -1px -6px ;}
.TYspecialFeatureCon1 ul li.sec i{background-position: -141px -6px ;}
.TYspecialFeatureCon1 ul li.thr i{background-position: -354px -6px ;}
.TYspecialFeatureCon1 ul li.for i{background-position: -70px -6px ;}
.TYspecialFeatureCon1 ul li.fiv i{background-position: -283px -6px ;}
.TYspecialFeatureCon1 ul li.six i{background-position: -212px -6px ;}
.TYspecialFeatureCon1 ul li.fir.on i{background-position: -1px -75px;}
.TYspecialFeatureCon1 ul li.sec.on i{background-position: -141px -75px;}
.TYspecialFeatureCon1 ul li.thr.on i{background-position: -354px -75px;}
.TYspecialFeatureCon1 ul li.for.on i{background-position: -70px -75px;}
.TYspecialFeatureCon1 ul li.fiv.on i{background-position: -283px -75px;}
.TYspecialFeatureCon1 ul li.six.on i{background-position: -212px -75px;}
.TYspecialFeatureCon1 ul li.left{left: 0;text-align: right;}
.TYspecialFeatureCon1 ul li.right{right: 0;text-align: left;}
.TYspecialFeatureCon1 ul li.fir{top: 65px;}
.TYspecialFeatureCon1 ul li.sec{top: 230px;}
.TYspecialFeatureCon1 ul li.thr{top: 430px;}
.TYspecialFeatureCon1 ul li.for{top: 65px;}
.TYspecialFeatureCon1 ul li.fiv{top: 230px;}
.TYspecialFeatureCon1 ul li.six{top: 430px;}
.TYspecialFeatureCon1 h3{font-size: 18px;font-weight: bold;color: rgb( 102, 102, 102 );line-height: 1.502;}
.TYspecialFeatureCon1 p{width: 200px; font-size: 16px;color: rgb( 51, 51, 51);opacity: 0.4;filter: alpha(opacity=40);line-height: 1.25;}
.TYspecialFeatureCon1 .bd{width: 500px;height: 500px;position: absolute;top: 50%;left: 50%;margin-top: -250px;margin-left: -250px;background: url(../images/zhanshidi.png) center no-repeat; }
.TYspecialFeatureCon1 .bd ul{margin-top: 74px; margin-left: 37px;}
.TYspecialFeatureCon2 .easy{margin-top: 50px;}
.TYspecialFeatureCon2 .easy div{width: 420px; font-size: 18px;color: rgb( 51, 51, 51 );line-height: 1.802;height:65px;}
.TYspecialFeatureCon2 .easy div i{float: left; width: 48px;height: 48px;margin-right: 10px;}
.TYspecialFeatureCon2 .easy div i.fir{background-position: -127px -158px;}
.TYspecialFeatureCon2 .easy div i.sec{background-position: -185px -158px;} 
.TYspecialFeatureCon2 .easy img{margin-top: 30px;}
/*3D通用云设计works css*/ 
/* works css*/
.PZworks{padding: 50px 0 110px;background:#4464ad url(../images/works.jpg) center top no-repeat;}
.worksTit{text-align: center;margin-top: 20px; font-size: 40px;line-height: 1.136;color: #fff;}
.worksTit span{padding: 20px 160px;display: inline-block; background: url(../images/lanbg.png) center bottom no-repeat;}
.PZworksTop{position: relative;z-index: 10; margin-top: 25px;padding: 40px 0 220px; text-align: center;}
.PZworksTop .PZworksTopT{font-size: 30px;color: rgb( 208, 228, 255 );line-height: 1.667;-moz-transform: matrix( 1,0,0,1,0,0);
  -webkit-transform: matrix( 1,0,0,1,0,0);
  -ms-transform: matrix( 1,0,0,1,0,0);}
.PZworksTop .PZworksTopC{font-size: 22px;color: rgb( 133, 167, 244 );line-height: 1.136;-moz-transform: matrix( 1,0,0,1,0,0);
  -webkit-transform: matrix( 1,0,0,1,0,0);
  -ms-transform: matrix( 1,0,0,1,0,0);}
.PZworksPanorama{position: relative;margin-bottom: 260px; top: -193px;z-index: 5;text-align: center;height:450px\0;height: 60vh; background-image: url(../images/panorama.jpg);background-position: 0px 0px;background-repeat: repeat-x;
	animation: animatedBackground 10s linear infinite;
	-webkit-animation: animatedBackground 10s linear infinite;
	-moz-animation: animatedBackground 10s linear infinite;
	-o-animation: animatedBackground 10s linear infinite;
}
@-webkit-keyframes animatedBackground {
	0% { background-position: 0 0; }
	12% { background-position: 60% 0; }
	25% { background-position: 120% 0; }
	38% { background-position: 60% 0; }
	50% {background-position: 0 0; }
	62% {background-position: -60% 0; }
	75% {background-position: -120% 0; }
	88% {background-position: -60% 0; }
	100% {background-position: 0 0; }
}
@-moz-keyframes animatedBackground {
	0% { background-position: 0 0; }
	12% { background-position: 60% 0; }
	25% { background-position: 120% 0; }
	38% { background-position: 60% 0; }
	50% {background-position: 0 0; }
	62% {background-position: -60% 0; }
	75% {background-position: -120% 0; }
	88% {background-position: -60% 0; }
	100% {background-position: 0 0; }
}
@-o-keyframes animatedBackground {
	0% { background-position: 0 0; }
	12% { background-position: 60% 0; }
	25% { background-position: 120% 0; }
	38% { background-position: 60% 0; }
	50% {background-position: 0 0; }
	62% {background-position: -60% 0; }
	75% {background-position: -120% 0; }
	88% {background-position: -60% 0; }
	100% {background-position: 0 0; }
}
@keyframes animatedBackground {
	0% { background-position: 0 0; }
	12% { background-position: 60% 0; }
	25% { background-position: 120% 0; }
	38% { background-position: 60% 0; }
	50% {background-position: 0 0; }
	62% {background-position: -60% 0; }
	75% {background-position: -120% 0; }
	88% {background-position: -60% 0; }
	100% {background-position: 0 0; }
}
.PZworksPanoramaBtn{position: absolute;top: 50%;left: 50%;color: #fff;margin-top: -121px;margin-left: -314px; width: 628px;height: 269px;}
.PZworksPanoramaBtn .Bg{position: absolute;width: 100%;height: 100%;background-color: #000;opacity: 0.3;filter: alpha(opacity=30);}
.PZworksPanoramaBtn p,.PZworksPanoramaBtn a{position: relative;z-index: 8;}
.PZworksPanoramaBtn p.fir{font-size: 30px;line-height: 1.667;margin-top: 55px;}
.PZworksPanoramaBtn p.sec{font-size: 16px;line-height: 1.667;}
.PZworksPanoramaBtn a{display: inline-block;text-align: center; border-radius: 22px;width: 153px;height: 46px;background-color: rgb( 63, 160, 243 );font-size: 24px;color: rgb( 255, 255, 255 );font-weight: bold;line-height: 1.065;line-height: 46px;margin-top: 20px;}
.PZworksPanoramaBtn a:after {pointer-events: none;position: absolute;width: 100%;height: 100%;border-radius: 22px;content: '';-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;top: 0;left: 0;padding: 0;z-index: 700;box-shadow: 0 0 0 2px rgba(255,255,255,0.1);opacity: 0;-webkit-transform: scale(0.9);-moz-transform: scale(0.9);-ms-transform: scale(0.9);transform: scale(0.9);}
.PZworksPanoramaBtn a:hover:after {-webkit-animation: sonarEffect 1.3s ease-out 75ms;-moz-animation: sonarEffect 1.3s ease-out 75ms;animation: sonarEffect 1.3s ease-out 75ms;}
@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(255,255,255,0.5);
		-webkit-transform: scale(1.2);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(255,255,255,0.5);
		-moz-transform: scale(1.2);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(255,255,255,0.5);
		transform: scale(1.2);
		opacity: 0;
	}
}
.PZworksPanoramaList{position: absolute;bottom: -400px;z-index: 8;font-size: 18px;color: rgb( 255, 255, 255 );line-height: 1.5; width: 100%;min-width: 1200px;_width:1200px; height: 525px;background: url(../images/worksbg2.png) center top no-repeat;}
.mobile {position: absolute;top: 66px;left: 26%}
.mobile div{position: absolute;left: -130px;top: 104px;}
.vr {position: absolute;top: 267px;left: 50%;margin-left: -100px;}
.vr p{position: absolute;bottom: -26px;left: 32px;}
.pc {position: absolute;top: 66px;right: 26%;}
.pc p{position: absolute;right: -130px;top: 104px;}
.mobile>img,.vr>img,.pc>img{width: 205px;}
.animated1{animation:fadeInLeft 1s 1;-webkit-animation:fadeInLeft 1s 1;}
.animated2{animation:fadeInUp 1s 1;-webkit-animation:fadeInUp 1s 1;}
.animated3{animation:fadeInRight 1s 1;-webkit-animation:fadeInRight 1s 1;}
@keyframes fadeInLeft{
	0% {
		opacity:0;
		-webkit-transform:translate3d(-2000px,0,0);
		transform:translate3d(-2000px,0,0)
	}
	100% {
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
@-webkit-keyframes fadeInLeft{
	0% {
		opacity:0;
		-webkit-transform:translate3d(-2000px,0,0);
		transform:translate3d(-2000px,0,0)
	}
	100% {
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
@-webkit-keyframes fadeInRight {
	0% {
		opacity:0;
		-webkit-transform:translate3d(100%,0,0);
		transform:translate3d(100%,0,0)
	}
	100% {
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
@keyframes fadeInRight {
	0% {
		opacity:0;
		-webkit-transform:translate3d(100%,0,0);
		-ms-transform:translate3d(100%,0,0);
		transform:translate3d(100%,0,0)
	}
	100% {
		opacity:1;
		-webkit-transform:none;
		-ms-transform:none;
		transform:none
	}
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity:0;
		-webkit-transform:translate3d(0,100%,0);
		transform:translate3d(0,100%,0)
	}
	100% {
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
@keyframes fadeInUp {
	0% {
		opacity:0;
		-webkit-transform:translate3d(0,100%,0);
		-ms-transform:translate3d(0,100%,0);
		transform:translate3d(0,100%,0)
	}
	100% {
		opacity:1;
		-webkit-transform:none;
		-ms-transform:none;
		transform:none
	}
}
.workList{text-align: center;}
.workListTit h3{font-size: 36px;color: rgb( 255, 255, 255 );line-height: 1.389;}
.workListTit p{font-size: 24px;color: rgb( 255, 255, 255 );line-height: 1.042;}
.workListCon{position: relative;width: 925px; margin: 0 auto;margin-top: 40px;}
.workListCon .bd{position: relative;z-index: 0; padding: 17px;background-color: #fff;width: 895px;}
.workListCon .bd img {width: 895px;display: block;}
.workListCon button{border:0;outline: none;cursor: pointer; position: absolute;width: 72px;height: 72px;top: 50%;margin-top: -36px;z-index: 10;}
.workListCon button.prev{background: url(../images/btns2.png) -6px -2px no-repeat;left: -42px;}
.workListCon button.next{background: url(../images/btns2.png) -86px -2px no-repeat;right: -45px;}
.workListCon .hd {height: 16px;overflow: hidden;position: absolute;width: 100%;bottom: -52px;z-index: 1;}
.workListCon .hd ul{overflow: hidden;zoom: 1;float: left;position: absolute;left: 50%;margin-left: -109px;}
.workListCon .hd ul li {float: left;margin-right: 10px;width: 16px;height: 16px;cursor: pointer;background: url(../images/pagebg.png) center no-repeat;transition: width 500ms;}
.workListCon .hd ul li.on{width: 26px;background: url(../images/pagebg2.png) center no-repeat;}
/*使用价值 css*/
.useValue{width: 100%;}
.useValueTit img{display: block;width: 100%;}
.PZlogoTit{text-align: center;margin-top: 75px;}
.PZlogoTit span {padding: 20px 160px;display: inline-block;background: url(../images/greybg.png) center bottom no-repeat;font-size: 40px;line-height: 1.136;color: #333333;}
.useValueItem>div{width: 1200px;margin: 0 auto;padding: 25px 0;}
.useValueOdd{background-color: #ecf1f7;}
.useValueEven{background-color: #e5ebf7;}
.useValueItem .useValueCon,
.useValueItem .useValueImg{width: 570px;}
.useValueOdd .useValueCon,
.useValueEven .useValueImg{text-align: right;float: left;padding-right: 30px;}
.useValueOdd .useValueImg,
.useValueEven .useValueCon{float: right;padding-left: 30px;}
.useValueItem .useValueCon h3{font-size: 24px;margin-bottom: 8px; color: rgb( 63, 160, 243 );line-height: 1.667;}
.useValueItem .useValueCon p{ font-size: 16px;color: rgb( 102, 102, 102 );line-height: 1.889;}
.useValueOdd .useValueImg img{margin-left: 50px;}
.useValueEven .useValueImg img{margin-right: 85px;}
.useValueOdd .useValueCon h3{margin-top: 29px;}
.useValueEven .useValueCon h3{margin-top: 31px;}
.logoImg{display: block; width: 100%;}
/*橱柜云设计CSS*/
.CGbanner{position: relative; width: 100%;height: 480px; background: url(../images/cgbanner.jpg) center top no-repeat;}
.CGbanner .AdvisoryWrap{position: absolute;top: 275px;right: 0;}
.CGbanner a{position: relative; float: left;}
.CGbanner .openAdvisory{margin-right: 0;}
.CGbanner .buyAdvisory{height: 56px;margin-right: 30px;}
.CGbanner .buyAdvisory img{position: relative;top: 50%;margin-top: -12px;}
.sfIcon{position: absolute;top: 0;left: 0;width: 90px;height: 53px; background-image: url(../images/specialfeatureicon2.png);}
.CGspecialFeature1{padding: 140px 0 220px;background: #f5e7de url(../images/xiewen.jpg) center bottom no-repeat;}
.CGspecialFeatureTitle{position: relative;font-size: 30px;line-height: 1.667;color: rgb( 141, 78, 37 );}
.CGspecialFeature1 .sfIcon{background-position: 0 0;}
.CGspecialFeature1 .con{margin-top: 115px; width: 435px;}
.CGspecialFeaturei p{font-size: 18px;color: rgb( 73, 73, 73 );line-height: 1.667;}
.CGspecialFeaturei div.CGspecialFeatureTitle{padding-top: 65px;}
.CGspecialFeature2{padding: 35px 0 1px; background-color: #f6f3f0;}
.CGspecialFeature2 div.CGspecialFeatureTitle i{background-position: -106px 0;}
.CGspecialFeature2 .con{margin-top: 55px; width: 435px;}
.CGspecialFeature3{padding: 225px 0 0;background: #f5e7de url(../images/xiewen2.jpg) center top no-repeat;}
.CGspecialFeature3 .sfIcon{background-position: -232px 0;}
.CGspecialFeature3 .con{margin-top: 115px; width: 435px;}
.CGspecialFeature4{padding: 225px 0 10px; background: #f6f3f0 url(../images/xiewen.jpg) center top no-repeat;}
.CGspecialFeature4 div.CGspecialFeatureTitle i{background-position: -343px 0;}
.CGspecialFeature4 .con{margin-top: 100px; width: 435px;}
.CGspecialFeature5{padding: 215px 0 5px;background: #f5e7de url(../images/xiewen2.jpg) center top no-repeat;}
.CGspecialFeature5 .sfIcon{background-position: -451px 0;}
.CGspecialFeature5 .con{margin-top: 115px; width: 435px;}
.CGspecialFeature6{padding: 225px 0 10px; background: #f6f3f0 url(../images/xiewen.jpg) center top no-repeat;}
.CGspecialFeature6 div.CGspecialFeatureTitle i{background-position: -561px 0;}
.CGspecialFeature6 .con{margin-top: 100px; width: 435px;}
.CGspecialFeature7{padding-top: 170px;padding-bottom: 0; background:#f5e7de url(../images/xiewen2.jpg) center top no-repeat ;}
.CGspecialFeature7 div.CGspecialFeatureTitle i{background-position: -666px 0;}
.CGspecialFeature7 .hd {padding-left: 85px;padding-top: 95px;}
.CGspecialFeature7 .hd ul li{position:relative; float: left;margin-right: 35px; border: 6px solid #f5e7de;border-radius: 6px;cursor: pointer;}
.CGspecialFeature7 .hd ul li i{position:absolute;width:100%;height:100%;background-color:#000;opacity:0.5;display:block;}
.CGspecialFeature7 .hd ul li.on{border-color: #ffce99;}
.CGspecialFeature7 .hd ul li.on i{display:none;}
.CGspecialFeature7 .hd ul li img{display: block;width: 82px;height: 82px;}
.CGspecialFeature7 .bd {margin-top: 30px;}
.CGspecialFeature7 .bd img{display: block;width: 625px;height: 415px;}
.CGspecialFeature7 .bd  p{font-size:16px;line-height:1.5;text-align:center;color:#8d4e25;}
.CGspecialFeature7 .con{padding-left: 85px;}
.CGspecialFeature8{padding: 200px 0 5px;background: #f6f3f0 url(../images/xiewen.jpg) center top no-repeat;}
.CGspecialFeature8 div.CGspecialFeatureTitle i{background-position: -793px 0;}
.CGspecialFeature8 .con{margin-top: 70px; width: 435px;}
.CGspecialFeature9{padding: 230px 0 50px;background: #f5e7de url(../images/xiewen2.jpg) center top no-repeat;}
.CGspecialFeature9 div.CGspecialFeatureTitle i{background-position: -904px 0;}
.CGspecialFeature9 .con{margin-top: 70px;margin-left: 85px; width: 300px;}
/*橱柜云设计works CSS*/
.CGworks{background-image: url(../images/worksbg2.jpg);}
.CGworks .worksTit span{background-image: url(../images/yellowbg.png);}
.CGworks .PZworksTopT{color: #ffe9d1;}
.CGworks .PZworksTopC{color: #f4be85;}
.CGworks .workListCon .hd ul li {background-image: url(../images/pagebg3.png);}
.CGworks .workListCon .hd ul li.on{background-image: url(../images/pagebg4.png);}
.CGuseValueList .useValueOdd{background-color: #fffffe;}
.CGuseValueList .useValueEven{background-color: #f6eeea;}
/*衣柜云设计CSS*/
.YGIcon{position: absolute;top: 0;left: 0; width: 52px;height: 52px;background-image:url(../images/ygicon.png);background-repeat: no-repeat; }
.YGbanner{position: relative; width: 100%;height: 480px; background: url(../images/ygbanner2.jpg) center top no-repeat;}
.YGbanner .AdvisoryWrap{position: relative;top:280px;left: 193px;}
.YGbanner a{position: relative; float: left;}
.YGbanner .openAdvisory{margin-right:0px;}
.YGbanner .buyAdvisory{height: 56px;margin-right:30px;}
.YGbanner .buyAdvisory img{position: relative;top: 50%;margin-top: -12px;}
.YGspecialFeature1{padding: 70px 0 110px; background: url(../images/ygf1.jpg) center top no-repeat;}
.YGspecialFeatureTitle{position: relative;padding-top: 11px; font-size: 30px;color: rgb( 135, 100, 61 );line-height: 1.667;}
.YGspecialFeatureTitle~p{font-size: 18px;color: rgb( 73, 73, 73 );line-height: 1.667;}
.YGspecialFeature1 .con{width: 625px;text-indent: 87px; margin-bottom: 60px;}
.YGspecialFeature1 .hd ul li{width: 550px;padding:15px 0 15px 88px;border-bottom: 1px solid #d4c2b2;cursor: pointer;}
.YGspecialFeature1 .hd ul li h3{margin-bottom: 5px;font-size: 24px;font-weight: bold; color: rgb( 119, 112, 105 );line-height: 1.25;}
.YGspecialFeature1 .hd ul li p{font-size: 14px;color: rgb( 120, 113, 106 );line-height: 1.786;}
.YGspecialFeature1 .hd ul li.on{background-color: #e8a173;border-bottom-color: #e8a173;}
.YGspecialFeature1 .hd ul li.on h3,
.YGspecialFeature1 .hd ul li.on p{color: #fff;}
.YGspecialFeature1 .hd .bd img{display: block;width: 522px;h350px;}
.YGspecialFeature2{padding: 60px 0 50px; background: url(../images/ygf2.jpg) center top no-repeat;}
.YGspecialFeature2 .con{margin-top: 60px; text-indent: 87px;}
.YGspecialFeature2 .con .YGIcon{background-position: -68px 0;}
.YGspecialFeature2 img{display: block;width: 655px;height: 405px;}
.YGspecialFeature3{padding: 70px 0;}
.YGspecialFeature3 .con{text-indent: 87px;}
.YGspecialFeature3 .con .YGIcon{background-position: -138px 0;}
.YGspecialFeature3 .hd {margin-top: 95px;}
.YGspecialFeature3 .hd ul li{position:relative; float: left;margin-right: 35px; border: 6px solid #fff;border-radius: 6px;cursor: pointer;}
.YGspecialFeature3 .hd ul li i{position:absolute;width:100%;height:100%;background-color:#000;opacity:0.5;display:block;}
.YGspecialFeature3 .hd ul li.on{border-color: #ffce99;}
.YGspecialFeature3 .hd ul li.on i{display:none;}
.YGspecialFeature3 .hd ul li img{display: block;width: 82px;height: 82px;}
.YGspecialFeature3 .bd{margin-top: 15px;} 
.YGspecialFeature3 .bd  p{font-size:16px;line-height:1.5;text-align:center;color:#333;}
.YGspecialFeature4{padding: 90px 0 145px;background: url(../images/ygf3.jpg) center top no-repeat;}
.YGspecialFeature4 img{display: block;width: 500px;height: 278px;}
.YGspecialFeature4 .con{width: 625px;text-indent: 87px;margin-top: 87px;}
.YGspecialFeature4 .con .YGIcon{background-position: -207px 0;}
.YGspecialFeatureL{padding: 70px 0;}
.YGspecialFeatureL .con{text-indent: 87px;margin-bottom: 50px;}
.YGspecialFeature6{width: 633px;}
.YGspecialFeature5{width: 500px;}
.YGspecialFeature6 img{width: 510px;height: 285px;margin-left: 123px;}
.YGspecialFeature5 img{width: 500px;height: 285px;}
.YGspecialFeature6 .con .YGIcon{background-position: -346px 0;}
.YGspecialFeature5 .con .YGIcon{background-position: -276px 0;}
/*衣柜云设计works CSS*/
.YGworks{background-image: url(../images/worksbg3.jpg);}
.YGworks .worksTit span{background-image: url(../images/yellowbg.png);}
.YGworks .PZworksTopT{color: #ffe9d1;}
.YGworks .PZworksTopC{color: #f4be85;}
.YGworks .workListCon .hd ul li {background-image: url(../images/pagebg3.png);}
.YGworks .workListCon .hd ul li.on{background-image: url(../images/pagebg4.png);}
/*吊顶云设计CSS*/
.DDicon{background-image:url(../images/ddicon.png); }
.DDbanner{position: relative; width: 100%;height: 480px; background: url(../images/ddbanner2.jpg) center top no-repeat;}
.DDbanner .AdvisoryWrap{position: absolute;top: 280px;right: 0;}
.DDbanner a{position: relative; float: left;}
.DDbanner .openAdvisory{margin-right: 0;}
.DDbanner .buyAdvisory{height: 56px;margin-right:30px;}
.DDbanner .buyAdvisory img{position: relative;top: 50%;margin-top: -12px;}
.DDspecialFeature{background-color: #b8bac0;overflow: hidden;}
.DDtop img{display: block;}
.DDspecialFeature1{position:relative; margin-top: 3px;margin-bottom: 11px;}
.DDspecialFeature1 .bd{width:656px;position:relative;height: 501px;overflow:hidden;}
.DDspecialFeature1 .bd ul li{float:left;}
.DDspecialFeature1 .bd i{position: absolute;top: 0;left: 0;width: 155px;height: 89px;background-position: 0 0;z-index:15;}
.DDspecialFeature1 .hd{width:544px;}
.DDspecialFeatureI{padding-left: 39px;padding-top: 20px;color: rgb( 255, 255, 255 );border:6px solid ; width: 219px;height: 133px;margin: 0 0 2px 2px;cursor:pointer;}
.DDspecialFeatureI.on{border-color:#fff;}
.DDspecialFeatureI h3{font-size: 24px;line-height: 1.25;}
.DDspecialFeatureI h4{font-size: 30px;line-height: 1.25;}
.DDspecialFeatureI p{font-size: 16px;line-height: 1.375;}
.DDspecialFeature11{margin-right:250px; background-color: #76a1be;border-color:#76a1be;}
.DDspecialFeature12{position:absolute;top:0;left:272px; background-color: #59565d;border-color:#59565d;}
.DDspecialFeature13{background-color: #898989;border-color:#898989;}
.DDspecialFeature14{background-color: #d98d6d;border-color:#d98d6d;}
.DDspecialFeature15{background-color: #77b5b2;border-color:#77b5b2;}
.DDspecialFeature16{background-color: #626262;border-color:#626262;}
.DDspecialFeatureimg{position: relative;}
.DDspecialFeature1 .DDspecialFeatureimg img{margin-bottom: 1px; display: block;width: 654px;height: 501px;}
.DDspecialFeatureS{margin-bottom: 11px;}
.DDspecialFeatureS .DDspecialFeatureimg img{display: block;width: 637px;height: 421px;}
.DDspecialFeatureS .con{width: 220px;padding-left: 39px; height: 311px;padding-top: 110px; background-color: #59565d;color: #fff;}
.DDspecialFeatureS .con h4{font-size: 30px;line-height: 1.25;}
.DDspecialFeatureS .con p{font-size: 18px;line-height: 1.7;}
.DDspecialFeatureS .DDspecialFeatureimg i{position: absolute;top: 0;width: 155px;height: 89px;}
.DDspecialFeatureS .bg{width: 297px;height: 421px;}
.DDspecialFeatureS .bg{width: 297px;height: 421px;}
.DDspecialFeature2 .DDspecialFeatureimg i{right: 0;background-position: -159px 0;}
.DDspecialFeature2 .bg,
.DDspecialFeature4 .bg{background-position: -13px -755px;}
.DDspecialFeature3 .DDspecialFeatureimg i{left: 0;background-position: 0 -110px;}
.DDspecialFeature3 .bg,
.DDspecialFeature5 .bg{background-position: -13px -327px;}
.DDspecialFeature4 .DDspecialFeatureimg i{right: 0;background-position: -159px -111px;}
.DDspecialFeature5 .DDspecialFeatureimg i{left: 0;background-position: -321px -219px;}
/*吊顶云设计works CSS*/
.DDworks{background-image: url(../images/worksbg4.jpg);}
.DDworks .worksTit span{background-image: url(../images/greybg.png);}
.DDworks .PZworksTopT{color: #f3f3f3;}
.DDworks .PZworksTopC{color: #a9a8a9;}
.DDworks .workListCon .hd ul li {background-image: url(../images/pagebg5.png);}
.DDworks .workListCon .hd ul li.on{background-image: url(../images/pagebg6.png);}
.DDuseValueList .useValueOdd{background-color: #fffffe;}
.DDuseValueList .useValueEven{background-color: #f1f0f2;}
/*铺砖云设计CSS*/
.PZbanner{position: relative;height: auto;}
.PZbanner>img{width: 100%;min-width: 1220px;_width:1220px;display: block;}
.PZbanner .AdvisoryWrap{position: absolute;top: 58%;left: 55%;}
.PZbanner a{position: relative; float: left;}
.PZbanner  .openAdvisory{margin-right: 45px;}
.PZbanner  .buyAdvisory{height: 56px;}
.PZbanner  .buyAdvisory img{position: absolute;top: 50%;margin-top: -12px;}

/* Special feature css*/
.specialFeatureTit img{display: block;width: 100%;}
.specialFeatureList{padding-top: 100px;background-color: #fff;}
.specialFeatureList{width: 1210px;margin: 0 auto;}
.specialFeatureList .specialFeatureItem{margin-bottom: 60px;}
.specialFeatureList .specialFeatureItem .specialFeatureImg{width: 600px; }
.specialFeatureList .specialFeatureItem .specialFeatureCon{width: 600px; }
.specialFeatureList .specialFeatureOdd .specialFeatureImg{float: left;}
.specialFeatureList .specialFeatureOdd .specialFeatureCon{ float: right;}
.specialFeatureList .specialFeatureEven .specialFeatureCon{float: left;}
.specialFeatureList .specialFeatureEven .specialFeatureImg{ float: right;}
.specialFeatureList .specialFeatureItem .specialFeatureImg img{width: 558px; display: block;}
.specialFeatureList .specialFeatureEven .specialFeatureImg img{margin-left: 50px;}
.specialFeatureItem1 .specialFeatureCon img,
.specialFeatureItem2 .specialFeatureCon img,
.specialFeatureItem3 .specialFeatureCon img{margin-top: 40px;}
.specialFeatureItem4 .specialFeatureCon img,
.specialFeatureItem5 .specialFeatureCon img{margin-top: 55px;}
.specialFeatureItem6 .specialFeatureCon img{margin-top: 70px;}
.specialFeatureList .specialFeatureCon p{font-size: 19px;color: rgb( 51, 51, 51 );line-height: 1.455;padding-left: 15px;margin-left: 46px; background: url(../images/specialfeaturebg.png) 0 center no-repeat;} 

@media screen and (max-width: 1600px) {
	.mobile {left: 16%;}
	.pc {right: 16%;}
}
@media screen and (max-width: 1366px) {
	.mobile {left: 12%;}
	.pc {right: 12%;}
}

.experienceWrap{width: 100%;background-color: #fff;padding-top: 50px;padding-bottom:50px; text-align: center;}
.experienceTitle{font-size: 32px;color: rgb( 51, 51, 51 );padding: 40px 0;}
.experienceTitle a{display: inline-block;width: 155px;vertical-align: middle; height: 49px;text-align: center; line-height: 49px;font-weight: bold; color: rgb( 255, 255, 255 );background-color: #3fa0f3;font-size: 18px;border-radius: 24px;}
.experienceLoginEd a{margin-left: 20px;}
.experienceTitle a:hover{opacity: 0.7;filter: alpha(opacity=70);}
.experienceFrom input{width: 370px;font-size: 16px;padding-left: 25px;vertical-align: middle; height: 47px; border:1px solid #aaaaaa;border-right: 0;border-radius: 24px;border-top-right-radius: 0;border-bottom-right-radius: 0;}
.experienceFrom a{display: inline-block;width: 155px;vertical-align: middle; height: 49px;text-align: center; line-height: 49px;font-weight: bold; color: rgb( 255, 255, 255 );background-color: #3fa0f3;font-size: 18px;border-radius: 24px;border-top-left-radius: 0;border-bottom-left-radius: 0;}
.experienceFrom a:hover{opacity: 0.7;filter: alpha(opacity=70);}
.cloudDesignExperience a{margin-left: 20px; border-radius: 0;}






