.container1200{width:1220px; margin: 0 auto;font-family: "Microsoft YaHei";}
.container12{width:1200px; margin: 0 auto;font-family: "Microsoft YaHei";}
#margin,
#margin0{margin-right: 0;}
.homeTitle{font-size: 36px;font-weight: bold;line-height: 1;margin-bottom: 16px;}
.homeTitle2{font-size: 20px;line-height: 1;margin-bottom: 10px;}
.bannerWrap{position: relative;min-width:1220px;_width:1220px;height:100%;height: auto; z-index: 700;overflow: hidden; text-align: center;}
.bannerInner{position: absolute;top:0;left:0; width:100%; height:100%; overflow:hidden;}
.bannerInner .imgInner {position: absolute;top: 0px;width: 100%;height: 100%;background-size: 100% auto;background-repeat: no-repeat;text-align: center;}
.firBanner .imgInner{background-image:url(../images/banner1_1.jpg)}
.secBanner .imgInner{background-image:url(../images/banner4_1.jpg)}
.thrBanner .imgInner{background-image:url(../images/banner3_1.jpg)}
.lastBanner .imgInner{background-image:url(../images/banner2_1.jpg)}
.fivBanner .imgInner{background-image:url(../images/banner002_1.jpg)}
.sixBanner .imgInner{background-image:url(../images/banner-m_1.jpg)}
.sevenBanner .imgInner{background-image:url(../images/zxgs_1.jpg)}
.eightBanner .imgInner{background-image:url(../images/peixun_1.jpg)}
.nineBanner .imgInner{background-image:url(../images/newhand_1.jpg)}
/*.ten .imgInner{background-image:url(../images/dcompany_1.jpg)}*/
.ten .imgInner{background-image:url(../images/cyg_1.jpg)}
.bannerWrap img.indexImg{width: 100%;height:auto;vertical-align:middle;}
.bannerInner li{display:none;}
.bannerInner button{position:absolute;display:none; top:50%;z-index:500;border:0;outline:none; width:25px;height:73px;margin-top:-36px;cursor:pointer; background-image:url(../images/btns_1.png);background-repeat:no-repeat;}
.bannerInner button.leftBtn{left:0;background-position:-124px -8px;}
.bannerInner button.rightBtn{right:0;background-position:-155px -8px;}
.bannerWrap:hover .bannerInner button{display:block;}
.bannerInner li a.bannerBtn{position: absolute;left: 50%;margin-left: -76px;top: 71%; display: inline-block;width: 153px;height: 46px;line-height: 46px; font-size: 18px;font-family: "Microsoft YaHei";color: rgb( 255, 255, 255 );font-weight: bold;border-radius: 22px;background-color: rgb( 63, 160, 243 );}
.bannerInner li .bannerBtn:after {pointer-events: none;position: absolute;width: 100%;height: 100%;border-radius: 22px;content: '';-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;top: 0;left: 0;padding: 0;z-index: 700;box-shadow: 0 0 0 2px rgba(255,255,255,0.1);opacity: 0;-webkit-transform: scale(0.9);-moz-transform: scale(0.9);-ms-transform: scale(0.9);transform: scale(0.9);}
.bannerInner li a.bannerBtn:hover:after {-webkit-animation: sonarEffect 1.3s ease-out 75ms;-moz-animation: sonarEffect 1.3s ease-out 75ms;animation: sonarEffect 1.3s ease-out 75ms;}
.bannerInner li.thrBanner a.bannerBtn{left:52%;top:69%;}
.bannerInner li.lastBanner a.bannerBtn{left:27%;top:68%;}
.bannerInner li a.btn{position: absolute;left: 30%;margin-left: -100px;top: 67%; display: inline-block;width: 153px;height: 46px;line-height: 46px; font-size: 18px;font-family: "Microsoft YaHei";color:#229ef3;font-weight: bold;border-radius: 22px;background-color:#fff; text-align:center}
.bannerInner li .btn:after {pointer-events: none;position: absolute;width: 100%;height: 100%;border-radius: 22px;content: '';-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;top: 0;left: 0;padding: 0;z-index: 700;box-shadow: 0 0 0 2px rgba(255,255,255,0.1);opacity: 0;-webkit-transform: scale(0.9);-moz-transform: scale(0.9);-ms-transform: scale(0.9);transform: scale(0.9);}
.bannerInner li a.btn:hover:after {-webkit-animation: sonarEffect 1.3s ease-out 75ms;-moz-animation: sonarEffect 1.3s ease-out 75ms;animation: sonarEffect 1.3s ease-out 75ms;}

.bannerInner li a.bannerBtn1{background-color: #ff6e41;border-radius: 28px;color: #fff5c0;display: inline-block;font-family: "Microsoft YaHei";font-size: 20px;font-weight: bold;height: 62px;left: 72%;top: 75%;line-height: 62px;position: absolute;width: 190px;}
.bannerInner li .bannerBtn1:after {pointer-events: none;position: absolute;width: 100%;height: 100%;border-radius: 22px;content: '';-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;top: 0;left: 0;padding: 0;z-index: 700;box-shadow: 0 0 0 2px rgba(255,255,255,0.1);opacity: 0;-webkit-transform: scale(0.9);-moz-transform: scale(0.9);-ms-transform: scale(0.9);transform: scale(0.9);}
.bannerInner li a.bannerBtn1:hover:after {-webkit-animation: sonarEffect 1.3s ease-out 75ms;-moz-animation: sonarEffect 1.3s ease-out 75ms;animation: sonarEffect 1.3s ease-out 75ms;}

@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(255,255,255,0.5);
		-webkit-transform: scale(1.2);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(255,255,255,0.5);
		-moz-transform: scale(1.2);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(255,255,255,0.5);
		transform: scale(1.2);
		opacity: 0;
	}
}
.bannerNav{position: absolute;width: 100%; bottom: 10px; text-align: center;}
.bannerNav span{display: inline-block;cursor: pointer; width: 10px;height: 10px;overflow: hidden; border-radius: 10px;background-color: #fff;margin: 0 4px;}
.bannerNav span.active{background-color: #ff9600;}
/*banner*/
.fivBanner{text-align:left;overflow:hidden;}
/*.fivBanner a.btn{position:relative;margin-top:310px; margin-left:-480px; display:inline-block; width: 200px;height: 70px;font-weight: bold;line-height: 70px;text-align: center; font-size: 34px;color: rgb( 164, 98, 22 ); border:1px solid #ffdb8e;border-radius: 3px; background-color: #ffdb8e;}*/
/* 3vjia news*/
.newsWrap{width: 100%;height: 42px;background-color: #eeeeee;min-width: 1200px;_width:1200px;}
.newsInner{position: relative;}
.newsInner ul li{line-height: 42px;padding-left: 60px;background: url(../images/laba_1.png) 10px -1px no-repeat;}
.newsInner ul li a{font-size: 18px;color: rgb( 63, 63, 63 );}
.newsInner ul li a:hover{color: #1974A1;}
/*cloudDesignList*/
.homeIcon{background-image: url(../images/indexicon_1.png);background-repeat: no-repeat;}
.cloudDesignList{width:100%;min-width:1200px;_width:1200px;}
.cloudDesignListInner{text-align: center;padding-top: 60px;padding-bottom: 25px;}
.cloudDesignListInner .homeTitle{color: #3f3f3f;}
.cloudDesignListInner .homeTitle2{color: #5a5a5a;margin-bottom: 40px;}
.cloudDesignListC ul li{float: left;padding: 6px;margin-right: 72px;border-radius: 50%;border:1px solid ;}
.cloudDesignListC ul li div{position: relative;width: 168px;height: 168px;border-radius: 50%;}
.cloudDesignListC ul li div .homeIcon{position: absolute;}
.cloudDesignListC ul li div p{position: absolute;top: 125px; width: 100%;text-align: center;font-size: 20px;color: rgb( 76, 76, 76 );}
.cloudDesignListC ul li div .icon1{width: 66px;height: 76px;top: 24px;left: 50%;margin-left: -33px;z-index: 15;}
.cloudDesignListC ul li div .icon2{width: 92px;height: 45px;top: 80px;z-index: 10;}
.cloudDesignListC ul li a:hover .icon1{-webkit-animation: topEffect 1.3s ease-out 75ms 1;
-moz-animation: topEffect 1.3s ease-out 75ms 1;
animation: topEffect 1.3s ease-out 75ms 1;}
.cloudDesignListC ul li a:hover .icon2{-webkit-animation: opcEffect 1.3s ease-out 75ms 1;
-moz-animation: opcEffect 1.3s ease-out 75ms 1;
animation: opcEffect 1.3s ease-out 75ms 1;}
@-webkit-keyframes opcEffect{0%{opacity: 0;} 50%{opacity: 1;} 100%{opacity: 0;}}
@-moz-keyframes opcEffect{0%{opacity: 0;} 50%{opacity: 1;} 100%{opacity: 0;}}
@keyframes opcEffect{0%{opacity: 0;} 50%{opacity: 1;} 100%{opacity: 0;}}
@-webkit-keyframes topEffect{0%{top: 24px;} 20%{top: 0;} 40%{top: 24px;} 60%{top: 12px;} 80%{top: 24px;} 90%{top: 18px;} 100%{top: 24px;}}
@-moz-keyframes topEffect{0%{top: 24px;} 20%{top: 0;} 40%{top: 24px;} 60%{top: 12px;} 80%{top: 24px;} 90%{top: 18px;} 100%{top: 24px;}}
@keyframes topEffect{0%{top: 24px;} 20%{top: 0;} 40%{top: 24px;} 60%{top: 12px;} 80%{top: 24px;} 90%{top: 18px;} 100%{top: 24px;}}
.cloudDesignListC ul li.fir{border-color: #b2d1ff;}
.cloudDesignListC ul li.fir div{background-color: #b2d1ff;}
.cloudDesignListC ul li.fir div .icon1{background-position: -4px -4px;}
.cloudDesignListC ul li.fir div .icon2{background-position: -4px -93px;left: 51px;}
.cloudDesignListC ul li.sec{border-color: #f5cbb5;}
.cloudDesignListC ul li.sec div{background-color: #f5cbb5;}
.cloudDesignListC ul li.sec div .icon1{background-position: -88px -4px;}
.cloudDesignListC ul li.sec div .icon2{background-position: -243px -91px;left: 51px;}
.cloudDesignListC ul li.thr{border-color: #f9e0a9;}
.cloudDesignListC ul li.thr div{background-color: #f9e0a9;}
.cloudDesignListC ul li.thr div .icon1{background-position: -170px -7px;}
.cloudDesignListC ul li.thr div .icon2{background-position: -117px -93px;left: 51px;}
.cloudDesignListC ul li.for{border-color: #e8e8e8;}
.cloudDesignListC ul li.for div{background-color: #e8e8e8;}
.cloudDesignListC ul li.for div .icon1{background-position: -255px -5px;}
.cloudDesignListC ul li.for div .icon2{background-position: -4px -160px;left: 51px;}
.cloudDesignListC ul li.fiv{border-color: #c8d5fb;}
.cloudDesignListC ul li.fiv div{background-color: #c8d5fb;}
.cloudDesignListC ul li.fiv div .icon1{background-position: -343px -7px;}
.cloudDesignListC ul li.fiv div .icon2{background-position: -120px -160px;left: 51px;}
/*advantages*/
.advantages{padding-top: 70px; background: url(../images/advantagesbg_1.jpg) center top no-repeat;}
.advantagesTop{ text-align: center;}
.advantagesList{position: relative;overflow: hidden;margin-top: 20px;}
.advantagesList>img{display: block;width: 100%;}
.advantagesCon {position: absolute;bottom: 0;height: 80px;padding-top: 20px; font-size: 18px;color: #fff;line-height: 1.667; width: 50%;padding-right:2px;z-index: 10;}
.advantagesCon p{padding-left: 110px;}
.advantagesCon .bg{position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;background-color:#000;opacity: 0.3;filter: alpha(opacity=30);}
.advantagesItem{position: absolute; width: 50%;top: 0; right: 0;z-index: 15;}
.advantagesItem ul li{cursor: pointer; color: #fff; position: relative;overflow: hidden; float: left;width:25%;height: 50%;text-align: center; margin-left: 2px;margin-bottom: 2px;}
.advantagesItem ul li .bg{position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;background-color:#000;opacity: 0.5;filter: alpha(opacity=50);}
.advantagesItem ul li img{display: none; position: absolute;z-index: 15;left: 0;top: 0; width: 100%;height: 100%;}
.advantagesItem ul li.active img{display: block;}
.advantagesItem ul li i{position: relative;z-index: 20;display: inline-block;width: 67px;height: 67px;margin-top: 23%; background-color: #fff;}
.advantagesItem ul li.fir i{background: url(../images/advantages1_1.png) center no-repeat;}
.advantagesItem ul li.sec i{background: url(../images/advantages2_1.png) center no-repeat;}
.advantagesItem ul li.thr i{background: url(../images/advantages3_1.png) center no-repeat;}
.advantagesItem ul li.for i{background: url(../images/advantages4_1.png) center no-repeat;}
.advantagesItem ul li.fiv i{background: url(../images/advantages5_1.png) center no-repeat;}
.advantagesItem ul li.six i{background: url(../images/advantages6_1.png) center no-repeat;}
.advantagesItem ul li.sev i{background: url(../images/advantages7_1.png) center no-repeat;}
.advantagesItem ul li.eig i{background: url(../images/advantages8_1.png) center no-repeat;}
.advantagesItem ul li h3{position: relative;z-index: 20; font-size: 28px;line-height: 1.658;margin: 7% 0 3px;}
.advantagesItem ul li p{position: relative;z-index: 20;font-size: 16px;line-height: 22px;}
/*works*/
.worksWrap{padding: 40px 0;}
.worksTop{text-align: center;}
.worksCon{height: 545px;margin-top: 25px; overflow: hidden;}
.worksCon .worksItem{position: relative; width: 100px;float: left;height: 100%;overflow: hidden;transition: width 1s;}
.worksCon .worksItem.active{width: 800px;}
.worksCon .worksItem ul{width: 800px; height: 460px;}
.worksCon .worksItem ul li{position: absolute;left: 0;top: 0;width: 800px;height: 460px;}
.worksCon .worksItem ul li img{display: block;width: 100%;height: 100%;}
.worksCon .worksItem.active .pages{display: block;}
.worksCon .worksItem .pages{position: absolute;color:#fff;right:200px;font-size:16px;}
.worksCon .worksItem .infor{position: relative; width: 700px;height: 85px;line-height: 85px; padding: 0 90px 0 10px;font-size: 18px;color: #fff;font-weight: bold;}
.worksCon .worksItem .infor h4{font-weight: bold;text-indent: 0;transition:all 500ms;-moz-transition:all 500ms;}
.worksCon .worksItem.active .infor h4{text-indent: 32px;font-size: 26px;}  
.worksCon .worksItem .infor button{position: absolute; width: 54px;height: 54px;top: 15px;background-color: #f60;border:0;outline: none; cursor: pointer;}
.worksCon .worksItem .infor button.leftBtn{background: url(../images/worksrightbtn_1.png) center no-repeat; right: 110px;}
.worksCon .worksItem .infor button.rightBtn{background: url(../images/worksleftbtn_1.png) center no-repeat;right: 270px;}
.worksItemfir .infor{background-color: #718ddd;}
.worksItemsec .infor{background-color: #73aaeb;}
.worksItemthr .infor{background-color: #deb88d;}
.worksItemfor .infor{background-color: #d58551;}
.worksItemfiv .infor{background-color: #c9c9c9;}
.worksCon .worksItem .bg{width: 100px;height: 460px;position: absolute;top: 0;left: 0;z-index: 20;opacity: 0.7;filter: alpha(opacity=70); }
.worksCon .worksItem.active .bg{display: none;}
.worksCon .worksItemfir .bg{background-color: rgb( 200, 213, 251 );}
.worksCon .worksItemsec .bg{background-color: rgb( 145, 195, 255 );}
.worksCon .worksItemthr .bg{background-color: rgb( 255, 240, 200 );}
.worksCon .worksItemfor .bg{background-color: rgb( 255, 176, 124 );}
.worksCon .worksItemfiv .bg{background-color: rgb( 201, 201, 201 );}
.panoramaHref {position: absolute;width:100px; left: 690px;top: 15px;color: #fff;font-size: 16px;text-align: center;}
.panoramaHref i{position: relative; display: block;width: 45px;height: 45px;margin:0 auto; margin-bottom: 7px; background: url(../images/panoramaicon_1.png) center no-repeat;}
.panoramaHref i:after {pointer-events: none;position: absolute;width: 100%;height: 100%;border-radius: 22px;content: '';
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;top: 0;left: 0;padding: 0;z-index: 700;
box-shadow: 0 0 0 2px rgba(115,85,55,0.1);opacity: 0;
-webkit-transform: scale(0.9);
-moz-transform: scale(0.9);
-ms-transform: scale(0.9);
transform: scale(0.9);
-webkit-animation: sonarEffect 1.3s ease-out 75ms infinite;
-moz-animation: sonarEffect 1.3s ease-out 75ms infinite;
animation: sonarEffect 1.3s ease-out 75ms infinite;}
@-webkit-keyframes sonarEffect{0%{opacity: 0.3;} 40%{opacity: 0.5; box-shadow: 0 0 0 2px rgba(115,85,55,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(115,85,55,0.5);} 100%{box-shadow: 0 0 0 2px rgba(115,85,55,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(115,85,55,0.5); opacity: 0;}}
@-moz-keyframes sonarEffect{0%{opacity: 0.3;} 40%{opacity: 0.5; box-shadow: 0 0 0 2px rgba(115,85,55,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(115,85,55,0.5);} 100%{box-shadow: 0 0 0 2px rgba(115,85,55,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(115,85,55,0.5); -moz-transform: scale(1.2); opacity: 0;}}
@keyframes sonarEffect{0%{opacity: 0.3;} 40%{opacity: 0.5; box-shadow: 0 0 0 2px rgba(115,85,55,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(115,85,55,0.5);} 100%{box-shadow: 0 0 0 2px rgba(115,85,55,0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(115,85,55,0.5); transform: scale(1.2); opacity: 0;}}
/*question*/
.questionWrap{position: relative; width: 100%; min-width: 1200px;_width:1200px;}
.questionWrap .questionTop{position: absolute;width: 100%;text-align: center;left: 0;top: 10%;}
.questionWrap .questionTop .homeTitle{color: #89c3ff;}
.questionWrap .questionTop .homeTitle2{color: #539ff9;}
.questionWrap img{display: block;width: 100%;}
/*solution*/
.solution{min-width: 1200px;_width:1200px; padding-top: 110px;padding-bottom: 1px; background: url(../images/solutionbg_1.jpg) 52% top no-repeat;}
.solution .left{float: left;width: 570px;padding-right: 30px; text-align: right;}
.solution .right{float: right;width: 570px;padding-left: 30px; text-align: left;}
.solution .blue{color: #188fff;}
.solution .b6{color: #b6b6b6;}
.solution .red{color: #ff5418;}
.solutionTop{text-align: center;margin-bottom: 60px;}
.solutionTop h3{font-size: 36px;font-weight: bolder;margin-bottom: 10px;}
.solutionTop p{font-size: 20px;color: #5a5a5a;}
.solutionTop .left{width: 590px; padding-right: 10px;}
.solutionTop .right{width: 590px; padding-left: 10px;}
.solutionItem{margin-bottom: 150px;}
.solutionItem h3{font-size: 32px;font-weight: bold;}
.solutionItem1 h3{margin-top: 25px;}
.solutionItem2{margin-bottom: 95px;}
.solutionItem2 img{margin-left: 35px;margin-top: 23px;}
.solutionItem3{margin-bottom: 120px;}
.solutionItem3 h3{margin-top: 28px;}
.solutionItem3 img{margin-right: 48px;}
.solutionItem4{margin-bottom: 85px;}
.solutionItem4 img{margin-left: 48px;}
.solutionItem5 img{margin-right: 48px;}
.solutionItem5{margin-bottom: 113px;}
.solutionItem5 h3{margin-top: 30px;}
.solutionItem .solutionItemT2{font-size: 30px;color: rgb( 24, 143, 255 );line-height: 1.66;}
.solutionItem .solutionItemT2 strong{font-size: 40px;color: #ff5418;}
.solutionItem p{font-size: 18px;line-height: 1.333;}
/*argument*/
.argument{padding-top: 65px; background: url(../images/argumentbg_1.jpg) center top no-repeat;}
.argumentTop{text-align: center;}
.argumentTop h3{color: #cce5ff;}
.argumentTop p{color: #c9e2ff;}
.argumentNav {margin-top: 30px;margin-bottom: 20px;border-bottom: 1px solid #5ab7ff;}
.argumentNav ul{}
.argumentNav ul li{position: relative; float: left;padding: 21px 32px;line-height: 30px;font-size: 22px;color: #91caff; cursor: pointer;}
.argumentNav ul li.active{color: #fff;}
.argumentNav ul li.active:after{position: absolute;top: 64px;left: 50%;margin-left: -8px; content: '';display: block;width: 16px;height: 16px;border-left: 1px solid #5ab7ff;border-bottom: 1px solid #5ab7ff;
transform:rotateZ(-45deg);
-ms-transform:rotateZ(-45deg);
-moz-transform:rotateZ(-45deg);
-webkit-transform:rotateZ(-45deg); 
-o-transform:rotateZ(-45deg);}
.argumentNav ul li.kehu:after{background-color: #2586e2; }
.argumentNav ul li.media:after{background-color: #2692ec;}
.argumentCon{transition: height 0.8s;-webkit-transition: height 0.8s;-ms-transition: height 0.8s;-moz-transition: height 0.8s;-o-transition: height 0.8s;}
.argumentCon .kehuItem{position: relative;padding-bottom: 40px;}
.argumentCon .kehuItem button{position:absolute;top:50%;z-index:500;border:0;outline:none; width:55px;height:55px;margin-top:-27px;cursor:pointer;background-color: transparent; background-image:url(../images/btns_1.png);background-repeat:no-repeat;}
.argumentCon .kehuItem button.leftBtn{left:0;background-position:-2px -9px;}
.argumentCon .kehuItem button.rightBtn{right:0;background-position:-60px -9px;}
.argumentCon .kehuItem ul li{position: absolute;left: 0;top: 0;display: none;}
.argumentCon .kehuItem ul li.active{display: block;}
.argumentCon .kehuItem ul li img{display: block;width: 100%;height: 100%;}
.argumentCon .kehuItem .pages{position: absolute;bottom: 15px; width: 100%;text-align: center;}
.argumentCon .kehuItem .pages span{display: inline-block;width: 8px;height: 8px;overflow: hidden;border: 1px solid #fff;border-radius: 4px;transition: width 1s;}
.argumentCon .kehuItem .pages span.active{width: 14px;background-color: #fff;}
.argumentItem.latestNewsItem > ul {
    margin-left:98px;
    margin-top:90px;
}

.argumentItem.latestNewsItem > ul > li {
    margin-bottom:48px;
}

.argumentItem.latestNewsItem > ul > li:after {
    content: '';
    clear:both;
    display:table;
}

.argumentItem.latestNewsItem > ul > li > a:before {
    content: '';
    width:6px;
    border-radius:50%;
    height:6px;
    background-color:#abd8ff;
    margin-right:18px;
    vertical-align:middle;
    display:inline-block;
    position:relative;
    top:-2px;
}

.argumentNav ul li.latestNews:after{
    background-color: rgb(40,150,239);
}

.argumentItem.latestNewsItem > ul > li > a {
    float:left;
    display:block;
    width:480px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    color: #fff;
    font-size: 16px;
    margin-right:130px;
}

.argumentItem.latestNewsItem > ul > li > a:last-child {
    margin-right:0px;
}

.argumentItem.latestNewsItem > p {
    padding-bottom:116px;
    text-align:right;
    margin-right:76px;
}

.argumentItem.latestNewsItem > p > a{
    font-size:16px;
    color:#91cbfb;
}
.argumentCon .mediaItem {padding-bottom: 40px;display: none;}
.argumentCon .mediaItem ul li{float: left;width: 218px;color: #fff; margin: 0 11px;line-height: 1.625;font-size: 16px;} 
.argumentCon .mediaItem ul li a{color: #fff;display:block;}
.argumentCon .mediaItem ul li a div{height:122px;position:relative;margin:15px 0;}
.argumentCon .mediaItem ul li a div span{display: inline-block;vertical-align: middle;overflow: hidden; width: 0;height: 100%;}
.argumentCon .mediaItem ul li img{width: 218px;vertical-align:middle; /*height: 176px;*/}
/*company*/
.company img{display: block;margin: 0 auto;max-width: 100%;} 
/*select*/
.select{padding-top: 100px;padding-bottom: 115px; background: url(../images/selectbg_1.jpg) center top no-repeat;}
.selectTop{color: #fff;text-align: center;}
.selectCon{width: 865px;margin: 0 auto;margin-top: 100px;}
.selectCon ul li{float: left;margin-right: 90px; font-size: 28px;line-height: 1; color: rgb( 16, 140, 255 );}
.selectCon ul li i{display: inline-block;width: 13px;height: 27px;vertical-align: middle;margin-right: 7px;background-position: -285px -382px;}
.selectCon2{width: 865px;margin: 0 auto;margin-top: 85px;}
.selectCon2 ul li{float: left;width: 128px;height: 149px;margin-right: 55px;}
.selectCon2 ul li a{display: block;width: 100%;height: 100%;}
.selectCon2 ul li.fir{background-position: -4px -210px;}
.selectCon2 ul li.sec{background-position: -144px -210px;}
.selectCon2 ul li.thr{background-position: -285px -210px;}
.selectCon2 ul li.for{background-position: -4px -371px;}
.selectCon2 ul li.fiv{background-position: -144px -371px;}

.experienceWrap{width: 100%;background-color: #fff;padding-top: 50px;padding-bottom: 50px; text-align: center;}
.experienceFrom{padding-bottom:43px;}
.experienceTitle{font-size: 32px;color: rgb( 51, 51, 51 );padding: 43px 0;}
/*.experienceTitle a{display: inline-block;width: 155px;vertical-align: middle; height: 49px;text-align: center; line-height: 49px;font-weight: bold; color: rgb( 255, 255, 255 );background-color: #3fa0f3;font-size: 18px;border-radius: 24px;}*/
.experienceTitle a{display: block;margin:0 auto;width: 155px;vertical-align: middle; height: 49px;text-align: center; line-height: 49px;font-weight: bold; color: rgb( 255, 255, 255 );background-color: #ff6e41;font-size: 18px;border-radius: 24px;margin-top:40px;}
.experienceLoginEd a{margin-left: 20px;}
.experienceTitle a:hover{opacity: 0.7;filter: alpha(opacity=70);}
.experienceFrom input{width: 370px;font-size: 16px;padding-left: 25px;vertical-align: middle; height: 47px; border:1px solid #aaaaaa;border-right: 0;border-radius: 24px;border-top-right-radius: 0;border-bottom-right-radius: 0;}
.experienceFrom a{display: inline-block;width: 155px;vertical-align: middle; height: 49px;text-align: center; line-height: 49px;font-weight: bold; color: rgb( 255, 255, 255 );background-color: #3fa0f3;font-size: 18px;border-radius: 24px;border-top-left-radius: 0;border-bottom-left-radius: 0;}
.experienceFrom a:hover{opacity: 0.7;filter: alpha(opacity=70);}

@media screen and (max-width: 1370px) {
    .container12{width:855px;}
    .mainBav .container12{width:1200px;}      
    .homeTitle{font-size: 26px;margin-bottom: 12px;}
    .homeTitle2{font-size: 14px;margin-bottom: 7px;}
    /*banner*/
    .firBanner .imgInner{background-image:url(../images/banner1s_1.jpg)}
    .secBanner .imgInner{background-image:url(../images/banner4s_1.jpg)}
    .thrBanner .imgInner{background-image:url(../images/banner3s_1.jpg)}
    .lastBanner .imgInner{background-image:url(../images/banner2s_1.jpg)}
    .fivBanner .imgInner{background-image:url(../images/banner002_1.jpg)}
    .fivBanner a.btn{margin-top:215px; width: 142px;height: 49px;line-height: 51px; font-size: 25px;}
    .sixBanner .imgInner{background-image:url(../images/banner-m_1.jpg)}
    .sixBanner a.btn{margin-top:215px; width: 142px;height: 49px;line-height: 51px; font-size: 25px;}
    .sevenBanner .imgInner{background-image:url(../images/zxgs_1.jpg)}
     .eightBanner .imgInner{background-image:url(../images/peixun_1.jpg)}
     .nineBanner .imgInner{background-image:url(../images/newhand_1.jpg)}
     /*.ten .imgInner{background-image:url(../images/dcompany_1.jpg)}*/
    .ten .imgInner{background-image:url(../images/cyg_1.jpg)}
    .sevenBanner a.btn{margin-top:215px; width: 142px;height: 55px;line-height: 55px; font-size: 30px;}
    .bannerInner li a.bannerBtn{width:109px;height:33px;line-height:33px;margin-left:-55px;font-size:14px;}
    .bannerInner li a.bannerSixBtn{width:109px;height:33px;line-height:33px;margin-left:-55px;font-size:14px;}
    /* 3vjia news*/
    .newsWrap{height: 29px;overflow:hidden;}
    .newsInner ul li{line-height: 29px;padding-left: 45px;background: url(../images/labas_1.png) 13px 6px no-repeat;}
    .newsInner ul li a{font-size: 12px;}
    /*cloudDesignList*/
    .homeIcon{background-image: url(../images/indexicons_1.png);}

    .cloudDesignListInner{padding-top: 42px;padding-bottom: 15px;}
    .cloudDesignListInner .homeTitle2{margin-bottom: 29px;}
    .cloudDesignListC ul li{padding: 5px;margin-right: 50px;}
    .cloudDesignListC ul li div{width: 118px;height: 118px;}
    .cloudDesignListC ul li div p{top: 80px;font-size:16px;}
    .cloudDesignListC ul li div .icon1{width: 55px;height: 55px;top: 15px;margin-left: -27px;}
    .cloudDesignListC ul li div .icon2{width: 65px;height: 35px;top: 39px;left:34px; z-index: 10;}
    @-webkit-keyframes topEffect{0%{top: 15px;} 20%{top: 0;} 40%{top: 15px;} 60%{top: 8px;} 80%{top: 15px;} 90%{top: 5px;} 100%{top: 15px;}}
    @-moz-keyframes topEffect{0%{top: 15px;} 20%{top: 0;} 40%{top: 15px;} 60%{top: 8px;} 80%{top: 15px;} 90%{top: 5px;} 100%{top: 15px;}}
    @keyframes topEffect{0%{top: 15px;} 20%{top: 0;} 40%{top: 15px;} 60%{top: 8px;} 80%{top: 15px;} 90%{top: 5px;} 100%{top: 15px;}}
    .cloudDesignListC ul li.fir div .icon1{background-position: -80px 0;}
    .cloudDesignListC ul li.fir div .icon2{background-position: -370px 0;left:34px;}
    .cloudDesignListC ul li.sec div .icon1{background-position: -133px -6px;}
    .cloudDesignListC ul li.sec div .icon2{background-position: -446px 0;left:34px;}
    .cloudDesignListC ul li.thr div .icon1{background-position: -193px -6px;}
    .cloudDesignListC ul li.thr div .icon2{background-position: -525px 0;left:34px;}
    .cloudDesignListC ul li.for div .icon1{background-position: -249px 0;}
    .cloudDesignListC ul li.for div .icon2{background-position: -597px 0;left:34px;}
    .cloudDesignListC ul li.fiv div .icon1{background-position: -307px 0;}
    .cloudDesignListC ul li.fiv div .icon2{background-position: -683px 0;left:34px;}
    /*advantages*/
    .advantagesCon {height: 73px;font-size: 16px;}
    .advantagesItem ul li img{display: none; position: absolute;z-index: 15;left: 0;top: 0; width: 100%;height: 100%;}
    .advantagesItem ul li i{width: 50px;height:50px;margin-top: 23%; background-color: #fff;}
    .advantagesItem ul li.fir i{background: url(../images/indexicons_1.png) -13px -73px  no-repeat;}
    .advantagesItem ul li.sec i{background: url(../images/indexicons_1.png) -84px -73px  no-repeat;}
    .advantagesItem ul li.thr i{background: url(../images/indexicons_1.png) -156px -73px  no-repeat;}
    .advantagesItem ul li.for i{background: url(../images/indexicons_1.png) -226px -73px  no-repeat;}
    .advantagesItem ul li.fiv i{background: url(../images/indexicons_1.png) -288px -73px  no-repeat;}
    .advantagesItem ul li.six i{background: url(../images/indexicons_1.png) -358px -73px  no-repeat;}
    .advantagesItem ul li.sev i{background: url(../images/indexicons_1.png) -428px -73px  no-repeat;}
    .advantagesItem ul li.eig i{background: url(../images/indexicons_1.png) -499px -73px  no-repeat;}
    .advantagesItem ul li h3{font-size: 20px;}
    .advantagesItem ul li p{font-size: 12px;line-height: 15px;}
    /*works*/
    .worksCon{height: 390px;margin-top: 18px;}
    .worksCon .worksItem{width:70px;}
    .worksCon .worksItem.active{width: 568px;}
    .worksCon .worksItem ul{width: 568px; height:326px;}
    .worksCon .worksItem ul li{position: absolute;left: 0;top: 0;width: 568px;height: 326px;}
    .worksCon .worksItem .pages{right:94px;font-size:12px;}
    .worksCon .worksItem .infor{width: 468px;height: 63px;line-height: 63px;font-size: 12px;}
    .worksCon .worksItem.active .infor h4{text-indent: 32px;font-size: 16px;}  
    .worksCon .worksItem .infor button{width: 38px;height: 38px;top: 12px;background: url(../images/indexicons_1.png) no-repeat;}
    .worksCon .worksItem .infor button.leftBtn{background: url(../images/indexicons_1.png) -626px -69px no-repeat;right: 132px;}
    .worksCon .worksItem .infor button.rightBtn{background: url(../images/indexicons_1.png) -675px -69px no-repeat;right: 41px;}
    .worksCon .worksItem .bg{width: 70px;height: 326px; }
    .panoramaHref {left: 450px;}
    /*solution*/
    .solution{min-width: 1200px;_width:1200px; padding-top: 75px;padding-bottom: 1px; background: url(../images/solutionbgs_1.jpg) 52% top no-repeat;}
    .solution .left{width: 401px;padding-right: 19px;}
    .solution .right{width: 401px;padding-left: 19px;}
    .solutionTop{text-align: center;margin-bottom: 45px;}
    .solutionTop h3{font-size: 26px;}
    .solutionTop p{font-size: 16px;}
    .solutionTop .left{width: 415px; padding-right: 10px;}
    .solutionTop .right{width: 415px; padding-left: 10px;}
    .solutionItem{margin-bottom: 86px;}
    .solutionItem h3{font-size: 24px;font-weight: bold;}
    .solutionItem p{font-size: 12px;line-height: 1.333;}
    .solutionItem .solutionItemT2{font-size: 22px;}
    .solutionItem .solutionItemT2 strong{font-size: 34px;} 
    .solutionItem1 img{width:163px;}
    .solutionItem2 img{width:158px;}
    .solutionItem3 img{width:176px;}
    .solutionItem4 img{width:135px;}
    .solutionItem5 img{width:150px;}
    .solutionItem1 h3{margin-top: 10px;}
    .solutionItem2{margin-bottom: 43px;}
    .solutionItem2 img{margin-left: 35px;margin-top: 23px;}
    .solutionItem3{margin-bottom: 84px;}
    .solutionItem3 h3{margin-top: 28px;}
    .solutionItem3 img{margin-right: 37px;}
    .solutionItem4{margin-bottom: 76px;}
    .solutionItem4 img{margin-left: 48px;}
    .solutionItem5 img{margin-right: 48px;}
    .solutionItem5{margin-bottom: 70px;}
    .solutionItem5 h3{margin-top: 12px;}
    /*argument*/
    .argument{padding-top: 40px; background: url(../images/argumentbg_1.jpg) center top no-repeat;}
    .argumentNav ul li{padding: 15px 23px;line-height: 20px;font-size: 20px;}
    .argumentNav ul li.active:after{top: 42px;}
    .argumentNav ul li.kehu:after{background-color: #2a96ef; }
    .argumentNav ul li.media:after{background-color: #2a96ef;}
    .argumentCon .mediaItem ul li{width: 155px;margin: 0 8px;font-size: 12px;line-height:1.375;}
    .argumentCon .mediaItem ul li img{width: 155px;height: 126px;}
    /*select*/
    .select{padding-top: 65px;padding-bottom: 82px;}
    .selectCon{width: 618px;margin-top: 60px;}
    .selectCon ul li{margin-right: 67px; font-size: 20px}
    .selectCon ul li i{width: 9px;height: 20px;vertical-align: middle;overflow:hidden; margin-right: 4px;background: url(../images/indexicons_1.png) -827px -82px no-repeat;}
    .selectCon2{width: 618px;margin-top: 65px;}
    .selectCon2 ul li{width: 91px;height: 105px;margin-right: 38px;}
    .selectCon2 ul li.fir{background: url(../images/indexicons_1.png) -10px -308px no-repeat;}
    .selectCon2 ul li.sec{background: url(../images/indexicons_1.png) -141px -308px no-repeat;}
    .selectCon2 ul li.thr{background: url(../images/indexicons_1.png) -272px -308px no-repeat;}
    .selectCon2 ul li.for{background: url(../images/indexicons_1.png) -402px -308px no-repeat;}
    .selectCon2 ul li.fiv{background: url(../images/indexicons_1.png) -533px -308px no-repeat;}
}


.bubble {
    background-image:url(../images/qipao_1.png);
    background-repeat:no-repeat;
    width:300px;
    height:220px;
    position:absolute;
    top:30px;
    right:-96px;
    /*z-index:9999;*/
    z-index: 900;
    padding-top:65px;
    padding-left:40px;
    margin:0 auto;
}
    .bubble div {
     width:215px;
     font-family:'Microsoft YaHei';
}
    .bubble .bubbletitle {
   font-size:16px;
   padding-bottom:12px;
 }
 .bubble .bubbleContent {
     font-size:14px;
     line-height:20px;
}
.bubbleOp {
  display:block;
  width:80px;
  height:28px;
  background-color:#00a1e9;
  color:#fff;
  text-align:center;
  vertical-align:middle;
  line-height:28px;
  margin-left:75px;
  margin-top:10px;
}
.bubbleClose {
    position:absolute;
    top:30px;
    right:65px;
    width:40px;
    height:26px;
     background-image:url(../images/bubbleclose_1.png);
    background-repeat:no-repeat;
    cursor:pointer;
}
.bubbleClose:hover{
    background-image:url(../images/close_hover_1.png);
}

/**������� Start**/
.layui-layer-shade{opacity: 0.8!important;}
.pop-advertisement{display:none;}
.pop-advertisement .header{position:relative;width:700px;height:210px;background:url(../images/title-p_1.jpg) no-repeat center;border-radius: 30px 30px 0 0;}
.pop-advertisement .header i{position:absolute;width:24px;height:24px;background:url(../images/close-p_1.png) no-repeat center;top:20px;right:20px;}
.pop-advertisement ul{overflow:hidden;padding: 10px 20px 40px;/*max-height:588px;*/overflow-y:auto;}
.pop-advertisement ul li{width:44%;min-height:154px;margin:5px;float:left;padding:3px;border:1px solid #ccc;font-size: 16px;}
.pop-advertisement ul li:hover{border:1px solid #fa9b55}
.pop-advertisement ul li:nth-child(2n+1){margin-right:40px}
.pop-advertisement ul li:last-child{background-image:url(../images/more-p_1.jpg);}
.pop-advertisement ul li .content-wrap{overflow:hidden;}
.pop-advertisement ul li .content-wrap>div{float:left;color:#333;}
.pop-advertisement ul li:last-child .content-wrap>div{float:left;color:#fff;}
.pop-advertisement ul li .content-wrap .photograph{width:46%;margin-right:4%;text-align:center;}
.pop-advertisement ul li .content-wrap .photograph a>img{width:125px;height:125px;/*margin-bottom:10px;*/}
.pop-advertisement ul li .content-wrap .photograph>div{width:120px;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;white-space: nowrap;margin-left:4px;text-align: left;padding: 5px 0;}
.pop-advertisement ul li .content-wrap>.detail{width:46%;margin-left:4%;}
.pop-advertisement ul li .content-wrap>.detail>div{margin:10px 0;}
.pop-advertisement ul li .content-wrap>.detail>div .money{color:#fd4c63;font-size:16px;margin-right:5px;}
.pop-advertisement ul li .content-wrap>.detail>a{display:inline-block;padding:5px 23px;margin-top:10px;background-color: #fd4f62;color:#fff;border-radius:5px;}
.pop-advertisement ul li .content-wrap>.forenotice{position:relative;width:100%;text-align:center;}
.pop-advertisement ul li .content-wrap>.forenotice>p{display:block;font-size:26px;margin:30px 0 10px 0;color:#fff;}
.pop-advertisement ul li .content-wrap>.forenotice>.skip{position:absolute;width:100%;height:100%;left:0;z-index: 1;}
.pop-advertisement ul li .content-wrap>.forenotice>.left{margin-bottom:5px;font-size:18px;width: 158px;}
.pop-advertisement ul li .content-wrap>.forenotice>.left .left-p{width:100px}
.pop-advertisement ul li .content-wrap>.forenotice i{position:absolute;width:36px;height:36px;display:inline-block;background:url(../images/right-arrow_1.png) no-repeat center;right:70px;bottom:9px;}
.forenotice .left{display: inline-block;text-align: left;}
/**������� End**/











