.middle_bar2{position:absolute;left:376px;top:-17px;}
.searchForm{width:448px;height:40px;}
.searchForm .button,.searchForm .text{position:absolute;top:28px;outline:none;}
.searchForm .text{left:0;padding:0 4px;padding-right:71px;width:448px;height:40px;border:2px solid #529fff;line-height:38px;font-size:14px;color:#989898;vertical-align:middle;}
.searchForm .button{right:0;width:68px;height:40px;line-height:40px;border:none;background-color:#529fff;font-size:16px;color:#fff;cursor:pointer;}
.guides{margin-top:8px;}
.guide{margin-left:32px;}
.guide>a{display:block;font-size:16px;line-height:16px;color:#333;padding:11px 0;}
.icon-sprite{background:url(../images/iconmms.png) no-repeat 50%;}
.guide .icon{display:inline-block;width:20px;height:20px;margin-right:2px;vertical-align:-4px;}
.guide.my-model .icon{/*background-position:-28px 0;*/
 background-image:url(../images/favourite.png);}
.guide.update-model .icon{background-image:url(../images/update.png);}
.bottom_barColor{border-bottom:1px solid #529fff;position:relative;margin-top:20px;}
.bottom_bar .model-filter{bottom:5px;}
.bottom_bar a.type{background-color:#529fff;padding:3px 15px;color:#fff;width:190px;}
.bottom_bar .b-about{height:34px;line-height:34px;display:inline-block;font-size:18px;width:120px;text-align:center;}
.bottom_bar .b-about .navigation{font-size:16px;}
.typeIcon{width:20px;height:12px;display:inline-block;background-image:url(../images/typeicon.png);background-size:100% 100%;margin-top:11px;}
.serviceIndex{color:#333;}
.serviceIndex:hover{color:#41A4F7;}
.line_color4{color:#DBDBDB;position:absolute;left:318px;top:2px;}
.line_color{color:#DBDBDB;position:absolute;top:2px;right:0;}
.bottom_bar .rightsmall{position:absolute;right:0;bottom:0px;}
.bottom_bar .rightsmall img{height:60px;width:350px;}
.model-filter .filter-wp{/*position:absolute;top:41px;left:0;width:220px;z-index:1;*/
 display:none;position:absolute;width:220px;z-index:1;box-shadow:2px 2px 3px #eee;}
.model-filter .filter-wp .filter{position:relative;box-sizing:border-box;height:372px;border:1px solid #e6e6e6;font-size:16px;line-height:16px;color:#333;background:#fff;}
.model-filter .filter-wp .filter .cate-root{position:relative;padding:0 10px;}
.model-filter .filter-wp .filter .cate-root:hover{background-color:#529fff;color:#fff;}
/*.model-filter .filter-wp .filter .cate-root:hover .root-item{border-top:0;}*/
.model-filter .filter-wp .filter .cate-root .root-item{overflow:hidden;padding:13px 0 14px;border-top:1px dashed #e5e5e5;}
.model-filter .filter-wp .filter .cate-root.first .root-item,.model-filter .filter-wp .filter .cate-root.hover .root-item{border-top-color:transparent;}
.model-filter .filter-wp .filter .cate-root .cate-item{display:inline-block;font-weight:700;line-height:16px;color:#333;}
.model-filter .filter-wp .filter .cate-root:hover .cate-item{color:#fff;}
.model-filter .filter-wp .filter .cate-root .root-item .icon-sprite{background:url(../images/iconmms.png) no-repeat;}
.model-filter .filter-wp .filter .cate-root .root-item .icon{display:inline-block;width:20px;height:20px;margin-right:5px;vertical-align:-1px;}
.model-filter .filter-wp .filter .cate-root:hover .root-item .icon-menchuang{background-position:0 -33px;}
.model-filter .filter-wp .filter .cate-root:hover .root-item .icon-yingzhuang{background-position:-26px -33px;}
.model-filter .filter-wp .filter .cate-root:hover .root-item .icon-jiaju{background-position:-60px -33px;}
.model-filter .filter-wp .filter .cate-root:hover .root-item .icon-zhuangshi{background-position:-98px -33px;}
.model-filter .filter-wp .filter .cate-root:hover .root-item .icon-dianqi{background-position:-138px -33px;}
.model-filter .filter-wp .filter .cate-root .root-item .icon-menchuang{background-position:0 0;}
.model-filter .filter-wp .filter .cate-root .root-item .icon-yingzhuang{background-position:-26px 0;}
.model-filter .filter-wp .filter .cate-root .root-item .icon-jiaju{background-position:-60px 0;}
.model-filter .filter-wp .filter .cate-root .root-item .icon-zhuangshi{background-position:-98px 0;}
.model-filter .filter-wp .filter .cate-root .root-item .icon-dianqi{background-position:-138px 0;}
.model-filter .filter-wp .filter .cate-root .root-item .hots{margin:11px 0 0 -8px;font-size:12px;line-height:12px;color:#999;}
.model-filter .filter-wp .filter .cate-root .root-item .hot>a{line-height:14px;color:#999;}
.model-filter .filter-wp .filter .cate-root:hover .root-item .hot>a{color:#fff;}
.model-filter .filter-wp .filter .cate-root .root-item .hot:before{content:"|";display:inline;margin-left:5px;color:#ccc;}
.model-filter .filter-wp .filter .cate-root:hover .root-item .hot:before{color:#fff;}
.model-filter .filter-wp .filter .cate-list{z-index:222;display:none;position:absolute;top:-1px;left:220px;width:960px;min-height:368px;margin-left:-1px;padding:0 8px;border:2px solid #529fff;box-shadow:0 4px 8px 0 rgba(0,0,0,.1);font-size:14px;line-height:16px;color:#333;background:#fff;}
.model-filter .filter-wp .filter .cate-list.menchuang{top:-1px;}
.model-filter .filter-wp .filter .cate-list.yingzhuang{top:-75px;}
.model-filter .filter-wp .filter .cate-list.jiaju{top:-149px;}
.model-filter .filter-wp .filter .cate-list.zhuangshi{top:-223px;}
.model-filter .filter-wp .filter .cate-list.dianqi{top:-297px;}
.model-filter .filter-wp .filter .cate-root .icon-arrow{position:absolute;top:50%;right:7px;width:14px;height:14px;margin:auto;background-position:-280px -38px;}
.model-filter .filter-wp .filter .cate-root:hover .icon-arrow{background-position:-294px -38px;}
.model-filter .filter-wp .filter .cate-list .first-row .list{border-top:none;}
/*.model-filter .filter-wp .filter .cate-list .list{width:300px;margin-left:20px;padding-top:20px;border-top:1px solid #e1e1e1;}
*/
.model-filter .filter-wp .filter .cate-list .list{width:30%;margin-left:20px;padding-top:13px;padding-bottom:5px;border-top:1px solid #e1e1e1;display:inline-block;height:102px;overflow:hidden;}
.model-filter .filter-wp .filter .cate-list .title{margin-bottom:14px;font-size:16px;line-height:16px;font-weight:700;}
.model-filter .filter-wp .filter .cate-list .children-list a{display:inline-block;margin:0 16px 12px 0;font-weight:400;}
.bannerWrap{position:relative;width:980px;height:100%;height:auto;height:372px;overflow:hidden;text-align:center;}
.bannerWrap .bannerInner{position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;}
.bannerInner .imgInner{position:absolute;top:1px;left:1px;width:100%;height:100%;background-size:100% auto;background-repeat:no-repeat;text-align:center;}
.banner-one .imgInner{background-image:url(../images/model-bag.jpg);}
.banner-two .imgInner{background-image:url(../images/design-pic.jpg);}
.banner-three .imgInner{background-image:url(../images/material-library.jpg);}
.bannerNav{position:absolute;width:100%;bottom:10px;text-align:center;}
.bannerNav span{display:inline-block;cursor:pointer;width:10px;height:10px;overflow:hidden;border-radius:10px;background-color:#fff;margin:0 4px;}
.bannerNav span.active{background-color:#ff9600;}
.bannerInner button{position:absolute;display:none;top:50%;z-index:500;border:0;outline:none;width:25px;height:73px;margin-top:-36px;cursor:pointer;background-image:url(../images/btns.png);background-repeat:no-repeat;}
.bannerInner button.leftBtn{left:1px;background-position:-124px -8px;}
.bannerWrap:hover .bannerInner button{display:block;}
.bannerInner button.rightBtn{right:0;background-position:-155px -8px;}
.model-wp{margin-top:20px;}
.board .header{margin-bottom:20px;/*border-left:3px solid #4985f2;padding-left:16px;*/margin-left: 1px;}
/*.board .header.hot{margin-top:16px;border-left:3px solid #f2b43e;}*/
.board .header .title{display:inline-block;font-size:24px;font-weight:normal;line-height:20px;color:#333;}
.board .header .tab-wrap{display:inline-block;margin-left:20px;font-size: 16px;}
.board .header .tab-wrap .tab-title{margin: 0 15px;cursor:pointer;height: 30px;line-height: 30px;display: inline-block;}
.board .header .tab-wrap .tab-title.active{border-bottom:2px solid #529fff;color:#529fff;font-weight:bold;}
.board .header .show-more{margin-left:20px;margin-right:10px;padding:7px 19px;border:1px solid #e6e6e6;border-radius:14px;font-size:12px;line-height:12px;color:#999;background:#fff;}
.board .items{margin-left:-30px;}
.furniture-model .content .tab-con{display:none}
.furniture-model .content .tab-con.current{display:block;}
.furnishings-model .content .tab-con{display:none}
.furnishings-model .content .tab-con.current{display:block;}
.template-model-package{margin:0 0 30px 30px;padding:20px 16px 10px;width:346px;border:1px solid #e6e6e6;font-size:16px;line-height:16px;color:#999;background:#fff;}
.template-model-package .pic-wp{display:block;}
.template-model-package .models{position:relative;margin:0 0 12px -2px;height:261px;padding:15px 0;}
.template-model-package .model{margin:0 0 2px 2px;width:114px;height:114px;}
.template-model-package .model img{display:block;width:100%;height:100%;}
.template-model-package .models .cover{position:absolute;top:0;left:0;width:100%;height:100%;filter:alpha(opacity=100);opacity:1;transition:all .5s ease;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;}
.template-model-package .pic-wp:hover .models .cover{filter:alpha(opacity=0);opacity:0;}
.template-model-package .models .cover img{width:100%;height:100%;}
.template-model-package .info{margin-bottom:7px;}
.template-model-package .title{max-width:250px;height:16px;font-weight:700;font-size:16px;line-height:16px;color:#333;}
.template-model-package .info .bigger{display:inline-block;width:16px;height:16px;background:url(../images/bigger.png) no-repeat center;float:right;cursor:pointer;}
.template-model-package .author-info{position:relative;}
.template-model-package .others{margin-top:4px;font-size:14px;line-height:16px;color:#999;}
.template-model-package .other-item{margin-left:10px;padding-left:10px;border-left:1px solid #ddd;font-size:12px;color:#666;}
.template-model-package .other-item:first-child{border-left:0;padding-left:0;margin-left:0;}
.template-model-package .other-item i{display:inline-block;width:16px;height:16px;background-position:-245px -37px;background-position:-415px -35px;vertical-align:-2px;}
.single-model-board .models{margin-left:-25px;/*height:317px;*/}
.template-single-model{position:relative;margin:0 0 25px 25px;width:218px;border:1px solid #eee;background:#fff;}
.template-single-model .cover-wp{position:relative;overflow:hidden;}
.template-single-model .cover{display:block;height:218px;}
.template-single-model .cover-wp .actions{position:absolute;bottom:-50px;left:0;width:100%;height:48px;-webkit-transition:all .2s ease;transition:all .2s ease;background-color:#333;background:rgba(0,0,0,.6);padding:10px 24px;}
.template-single-model .cover-wp:hover .actions{bottom:0px;}
.template-single-model .cover-wp .action{position:relative;width:50%;text-align:center;}
.template-single-model .cover-wp .action a{border-radius:5px;background-color:#1890ff;color:#fff;width:80px;height:30px;line-height:30px;font-size: 14px;}
.template-single-model .cover-wp .action-show-collocation .mask{width:100%;height:100%;background:#000;opacity:.5;filter:alpha(opacity=50);}
.template-single-model .cover-wp .action-show-collocation .btn-show-collocation{position:absolute;top:0;left:0;width:100%;height:100%;}
.template-single-model .cover-wp .action .btn-action{display:block;font-size:14px;line-height:34px;text-align:center;color:#fff;}
.template-single-model .cover-wp .action-collect .btn-collect{background:#3e82f7;}
.template-single-model .info{position:relative;padding:15px;font-size:14px;line-height:14px;color:#333;}
.template-single-model .info .name{width:200px;margin-bottom:8px;min-height:16px;}
.template-single-model .collect-info{vertical-align:middle;font-size:12px;color:#666;}
.template-single-model .collect-info .icon-star{display:inline-block;width:18px;height:18px;background-position:-415px -34px;vertical-align:-4px;}
.template-single-model .collect-info .collected{display:inline-block;width:18px;height:18px;background-position:-216px -36px;vertical-align:-4px;}
.share-collocation .icon-sprite{background-position:-491px -34px;display:inline-block;width:16px;height:16px;vertical-align:-2px;}
.action-collect .icon-sprite{background-position:-529px -33px;display:inline-block;width:16px;height:16px;vertical-align:-2px;margin-right: 4px;}
.model-item .cover-wp .actions .share-collocation .share{position:absolute;width:175px;top:-158px;left:-20px;display:none;z-index:10;}
.share .sharebox{position:relative;padding:10px 20px;background:#fff;border:1px solid #ddd;}
.share .sharebox .tit{height:auto;margin-left:0;margin-bottom:5px;font-size:12px;color:#333;line-height:18px;text-align:left;font-weight:200;background:0 0;text-indent:0;}
.share .sharebox .sharecode{margin-right:15px;}
.share .sharebox .sharecode .code{width:80px;height:80px;}
.share .sharebox .sharecode .code canvas{width:80px;height:80px;}
.share .sharebox .shareplace{padding:10px 0 0 10px;border-left:1px solid #e2e2e2;}
.model-item .cover-wp .action .share .sharebox a{display:block;margin-bottom:15px;background:url(../images/shareicon.png) no-repeat;padding:0;width:24px;height:24px;font-size:14px;vertical-align:bottom;overflow:hidden;}
.model-item .cover-wp .action .share .sharebox .bds_qzone{background-position:0 0;}
.model-item .cover-wp .action .share .sharebox .bds_tsina{background-position:0 -24px;}
.share .sharebox .arrow{position:absolute;bottom:-14px;left:64px;border-width:7px;border-style:solid dashed dashed;border-color:#fff transparent transparent;}
.share .sharebox .arrow1{bottom:-15px;border-color:#ddd transparent transparent;}
.crumbs .end{color:#ff6e41;}
.exquisite-model .items {
    margin-top: -4px;
    margin-left: -21px;
}
.items .no-record{
    height:30px;
    line-height:30px;
    text-align:center;
}
.exquisite-model .item {
    position: relative;
    margin: 4px 28px 24px 0;
    margin:0 0 30px 20px;
    margin-bottom:30px;
    width: 590px;
    height: 594px;
    background: #fff;
}
/*.exquisite-model .item:nth-child(2n){
    margin-left:20px;
}*/
.exquisite-model .item .pic {
    position: relative;

}
.exquisite-model .item .pic a {
    display: block;
    width: 588px;
    height: 441px;
        border:1px solid #eee;
}
.exquisite-model .item .pic a .lucency{
    position: absolute;
    height: 42px;
    line-height: 42px;
    width: 548px;
    padding:0 20px;
    bottom: 0;
    background:rgba(0,0,0,.5);
}
.exquisite-model .item .pic a .lucency h3{
    font-size:16px;
    color:#fff;
}
.exquisite-model .item .pic img {
    display: block;
    width: 100%;
    height: 100%;
}
.exquisite-model .item .collection-num-wp {
    position: absolute;
    top: 50px;
    right: 15px;
    padding: 7px 6px;
}
.exquisite-model .item .collection-num-wp .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background: #000;
    opacity: .4;
    filter: alpha(opacity=40);
}
.exquisite-model .item .collection-num {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
}
.exquisite-model .item .collection-num i {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: -4px;
    background-position: -528px -33px;
}
.exquisite-model .items .more {
    position: relative;
}
.exquisite-model .items .more ul {
position: relative;
    padding: 10px 8px;
    background: #fff;
    border: 1px solid #eee;
    border-top: none;
}
.exquisite-model .items .more li {
    position: relative;
    height: 90px;
    margin-right: 6px;
}
.exquisite-model .items .more li:last-child{
    margin-right:0;
}
.exquisite-model .items .more ul .pic {
    display: block;
    height: 90px;
    background: rgba(242, 242, 242, 1);
}
.exquisite-model .items .more ul .pic img {
    width: 90px;
    height: 90px;
}
.exquisite-model .items .more ul .collect {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 90px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    pointer-events: none;
    color: #fff;
}
.exquisite-model .items .more .item-model.hover .collect {
    display: block;
}
.exquisite-model .items .more ul .collect .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=30);
}
.exquisite-model .items .more ul .collect .wrapper {
    position: relative;
    margin-top: 36px;
}
.exquisite-model .items .more ul .collect i {
    display: inline-block;
    /*margin-bottom: 12px;*/
    width: 18px;
    height: 18px;
    background-position: -528px -33px;
    vertical-align:bottom;
}
.exquisite-model .items .more ul .collect i.collected {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position: -216px -36px;
    vertical-align: -4px;
}
.exquisite-model .items .more ul .collect .collectTxt {
    font-size: 14px;
    display:inline-block;
}
.exquisite-model .items .styles{
    overflow:hidden;
        height: 40px;
}
.exquisite-model .style {
    display: inline-block;
    margin-right: 10px;
        margin-left: -3px;
    border-bottom: 2px solid transparent;
    font-size: 14px;
    height:38px;
    line-height: 38px;
    color: #333;
}
.exquisite-model .style:before {
        content: "|";
    display: inline;
    margin-right: 10px;
    color: #ccc;
}
.exquisite-model .style.cur a, .exquisite-model .style:hover a {
    color: #1890ff;
}
.exquisite-model .items .more ul .gomore {
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 90px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #666;
}
.exquisite-model .items .more ul .gomore .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 1);
}
.exquisite-model .items .more ul .gomore .wrapper {
    position: relative;
    margin-top: 30px;
}
.exquisite-model .items .more ul .gomore i {
    display: inline-block;
    background:url(../images/omit.png) no-repeat center;
    margin-bottom: 8px;
    width: 32px;
    height: 32px;
}
.magnifier{
    position: absolute;
    width: 200px;
    top: -224px;
    left: -45px;
    display: block;
    z-index: 10;
}
.magnifier .magnifier-box {
    position: relative;
    /*padding: 10px 20px;*/
    background: #fff;
    border: 1px solid #ddd;
}
.magnifier .magnifier-box .magnifierCon{
    width: 200px;
    height: 200px;
}
.exquisite-model .items .more ul .collect .magnifier .magnifier-box .arrow {
    position: absolute;
    bottom: -14px;
    left: 82px;
    border-width: 7px;
    border-style: solid dashed dashed;
    border-color: #fff transparent transparent;
}
.exquisite-model .items .more ul .collect .magnifier .magnifier-box .arrow1 {
    bottom: -15px;
    border-color: #ddd transparent transparent;
}
.magnifier-box img{
    width:100%;
    height:100%;
}
.magnifier-box p{
    font-size:14px;
    color:#333;
    text-align: left;
    padding: 0 10px;
    padding-bottom: 3px;
}
.crumbs .pro {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin-left: 20px;
    border: 1px solid #dddddd;
    cursor:pointer;
}
.crumbs .pro .icon-btn-x{
    float: right;
    width: 20px;
    height: 22px;
    background:url(../images/close.png) no-repeat center;
}
.crumbs .pro .txt{
    margin:0 4px;
}
.crumbs .pro:hover{
    border:1px solid #1890ff;

}
.crumbs .pro:hover .icon-btn-x{
 
    background:url(../images/close-hover.png) no-repeat center;
       background-color:#1890ff;
}
.innerdiv {
    position:absolute;
}
.innerdiv .bigimg{width:800px;height:600px;}