.container12{position: relative; width:1200px; margin: 0 auto;font-family: "Microsoft YaHei";}
.minWidth{min-width: 1200px;_width:1200px;}
#margin0{margin-right: 0;}
.pIcon{display: inline-block;background-image: url(../images/picon.png);background-repeat: no-repeat;}
/* banner */
.panoramaBanner{}
.panoramaBanner{height: 292px; background: url(../images/pbannerbg.gif) center top no-repeat;}
.panoramaBanner a{display: inline-block;margin-left: 125px; margin-top: 180px;}
/* panorama nav css */ 
.pNavWrap{margin: 15px 0;padding: 0 15px;border:1px solid #e3e3e3;}
.pNavWrap ul li{font-size: 14px;line-height: 48px;border-bottom: 1px dashed #dcdcdc;}
.pNavWrap ul li:last-child{border: 0;}
.pNavWrap ul li label{color: #9fa0a0;padding: 0 20px;margin-right: 40px;}
.pNavWrap ul li a{color: #524f4e;margin-right: 60px;}
.pNavWrap ul li a:hover,
.pNavWrap ul li a.active{color: #1890ff;}
/* panorama list css */ 
.collectSuccess{display:none;z-index:500; position:fixed;top:50%;left:50%;color: rgb( 89, 87, 87 );width:200px;height:50px;margin-left:-100px;margin-top:-25px;background-color:#fff;border-radius:2px;text-align:center;line-height:50px;font-size: 15px;}
.collectSuccess a{margin-left:5px;color:#1890ff;}
.collectSuccess i{display:inline-block;width:32px;height:32px;background-position:-107px -250px;vertical-align:middle;margin-right:10px;}
.pListWrap ul li{float: left;width: 580px;margin-right: 40px;margin-bottom: 30px;}
.pListWrap ul li .imgWrap{position: relative;}
.pListWrap ul li .imgWrap a{display: block;}
.pListWrap ul li .imgWrap img{display: block;width: 580px;height: 400px;}
.pListWrap ul li .imgWrap .mask{display: none; position: absolute;text-align: center; width: 100%;height: 100%;top: 0;left: 0;}
.pListWrap ul li .imgWrap:hover .mask{display: block;}
.pListWrap ul li .imgWrap .mask .bg{position: absolute; background-color: #000;width: 100%;height: 100%;opacity: 0.5;filter: alpha(opacity=50);}
.pListWrap ul li .imgWrap .mask .pIcon{position: relative;z-index: 10; width: 65px;height: 45px;margin-top: 160px;background-position: -196px -250px;}
.pListWrap ul li .imgWrap .mask p{position: relative;z-index: 10;font-size: 14px;line-height: 2.714;color: rgb( 255, 255, 255 ); }
.pListCon{position: relative; padding-left: 15px;height: 98px; border:1px solid #e3e3e3;border-top: 0;}
.pListCon h3{font-size: 25px;color: rgb( 0, 0, 0 );width: 375px; line-height: 57px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.pListCon p{font-size: 12px;color: rgb( 114, 113, 113 );}
.shareWrap{margin-right: 70px;margin-top: 20px;}
.pListCon .shareWrap ul li{margin: 0;padding: 0;width: 22px;height: 22px;margin-left: 16px;position: relative;}
.shareWrap .details i{width: 100%;height: 100%; background-position: -12px -9px;}
.shareWrap .details:hover i{background-position: -139px -11px;}
.shareWrap .collect i{width: 100%;height: 100%; background-position: -48px -10px; cursor:pointer;}
.shareWrap .collect a:hover i{background-position: -174px -12px;}
.shareWrap .collected i{width: 100%;height: 100%; background-position: -174px -12px;}
.shareWrap .shareList>i{width: 100%;height: 100%; background-position: -84px -11px;cursor: pointer;}
.shareWrap .shareList:hover>i{ background-position: -211px -13px;}
.shareWrap .shareList .shareCon{display: none; position: absolute;top: 25px;right: 0;padding-top: 13px;padding-left: 8px; width: 56px;height: 25px;background: url(../images/picon.png) -76px -182px no-repeat; }
.shareWrap .shareList:hover .shareCon{display: block;}
.shareWrap .shareList .shareCon .QQ i{width: 21px;height: 21px;background-position: -9px -199px;}
.shareWrap .shareList .shareCon .WB i{width: 21px;height: 21px;background-position: -40px -199px;}
.pListCon .VRcodeWrap{position: absolute;bottom: 0;right: 0;cursor: pointer;}
.pListCon .VRcodeWrap i{position: absolute;bottom: 0;right: 0; width: 59px;height: 95px;background-position: -14px -245px;}
.pListCon .VRcodeWrap .code{display: none; position: relative;z-index: 10; width: 235px;height: 235px;padding: 5px;background-color: #fff;}
.pListCon .VRcodeWrap:hover .code{display: block;}
.closeCode{position: absolute;top: 145px;left: 115px; width: 220px;height: 115px;background: url(../images/picon.png) 0 -55px no-repeat;z-index: 500;}
