.lh100 {
    line-height:100px;
}

.paySuccess {
    margin:0 auto;
    margin-top: 40px;
    background-image:url('../images/envlop.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    margin-bottom: 70px;
}

.paySuccess iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.paySuccess.big {
    width:1220px;
    height: 512px;
    background-image:url('../images/envlopbig.jpg');
}

.paySuccess > .auto {
    height: auto;
}

.paySuccess.small {
    width:770px;
    height: 330px;
}

/*弹框*/

.modal > .modal-title,.confirm > .confirm-title {
    padding: 0px 10px;
    background-color:#ddd;
    height:40px;
    line-height:40px;
    padding-left:20px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    box-sizing: border-box;
}

.modal > .modal-title > .close,.confirm > .confirm-title > .close  {
    float:right;
    width:20px;
    height:20px;
    text-align:center;
    line-height:20px;
    position: relative;
    top: 10px;
    font-size: 24px;
    color: #999;
    cursor: pointer;
}

.modal > .modal-title > .close:hover,.confirm > .confirm-title > .close:hover {
    opacity: .7;
}

.modal > .modal-body, .confirm > .confirm-body {
    height:630px;
    overflow:hidden;
    background-color: #fff;
}

.modalWrap,.confirmWrap {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,.7);
    z-index: 5000;
    display: none;
}

.modal,.confirm {
    width: 800px;
    border: 1px solid #eaeaea;
    margin: 0 auto;
    display: block;
    margin-top: 300px;
}

.modal {
    margin-top: 150px;
}

.modal.sort1 .iframeWrap {
    display: block;
    height: 590px;
    padding: 5px 20px;
}

.modal.sort1 .iframeWrap > iframe {
    border: none;
    width: 100%;
    height: 590px;
}

.modal.sort2 {
    width: 700px;
    height: 556px;
    display: block;
    margin: 0 auto;
    border: 6px solid #d2d2d2;
    margin-top: 40px;
    position: relative;
    background-color: #fff;
    position: relative;
}

.modal.sort2 .limitation > h3 {
    margin-top:60px;
    margin-bottom:50px;
    font-size:20px;
    color:#333;
    text-align:center;
}

.modal.sort2 .limitation > p {
    text-align:center;
    font-size:16px;
    color:#333;

}

.modal.sort2 .limitation > p > span {
    color:#f39800;
    font-size:20px;
}


.modal.sort2 .limitation .imgWrap{
    width:auto;
    text-align:center;
}

.modal.sort2 .limitation .pbtnWrap > .pbtn{
    background-color: #fe5417;
    border: #fe5417;
    color: #fff;
    display:inline-block;
}

.modal.sort2 .limitation .pbtnWrap{
    margin-top: 36px;
    display:block;
    text-align:center;
}

.modal.sort2 .limitation .pbtnWrap > .enter3d {
    margin-right:82px;
}

.modal.sort2 .modal-body {
    width: 100%;
    height: 100%;
}

.modal.sort2 > .close {
    width:20px;
    height:20px;
    text-align:center;
    line-height:20px;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    font-style: normal;
    font-size: 20px;
}

.modal.sort2 > .close:hover {
    opacity: .7;
}

.modal.sort2 .iframeWrap {
    margin-top:40px;
    display:block;
    padding:20px;
}

.modal.sort2 .iframeWrap > iframe {
    border:0px;
    width:100%;
    height: 480px;
}

.confirm {
    width: 466px;
}



.confirm > .confirm-body {
    height: 208px;
    position: relative;
}

.confirm-body > .info {
    font-size: 16px;
    color: #333;
    margin-top: 36px;
    text-align: center;
    display: block;
}

.confirm.sort2 .configlimit{
    margin-top: 40px;
    margin-left: 90px;
}
.confirm.sort2 .configlimit .selectWrap {
    margin-bottom:20px;
}
.confirm.sort2 .configlimit .selectWrap > select{
    width:190px;
    height:30px;
    margin-right:10px;
    border:1px solid #ebebeb;
}

.confirm.sort2 .configlimit .selectWrap > span {
    display:none;
    color:#FF866F;
}

.pbtn {
    width:100px;
    height:32px;
    text-align:center;
    line-height:29px;
    background-color: #f8f7f6;
    font-size: 14px;
    font-family: "MicroSoft YaHei";
    border: 1px solid #bdbdbd;
    cursor: pointer;
    font-weight: bold;
}

.pbtn:hover {
    opacity: .7;
}

.confirm-body > .pbtnWrap {
    position:absolute;
    bottom:60px;
    width:100%;
    text-align:center;
}

.alertWrap {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,.7);
    z-index: 10000;
    display: none;
}

.alertWrap > .alert {
    width: 420px;
    height: 245px;
    display: block;
    margin: 0 auto;
    border: 6px solid #d2d2d2;
    margin-top: 40px;
    position: relative;
}

.alertWrap > .alert > .alert-body {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

.alertWrap > .alert > .alert-body > .info {
    position: relative;
    top: 66px;
    font-size: 16px;
    color: #333;
    text-align: center;
}
.alertWrap > .alert > .close {
    width:20px;
    height:20px;
    text-align:center;
    line-height:20px;
    cursor: pointer;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #999;
    font-style: normal; 
}

.alert-body > .pbtnWrap{
    display: block;
    position: absolute;
    bottom: 70px;
    text-align: center;
    width: 100%;
}

.alert-body > .pbtnWrap > button {
    background-color: #ff6e41;
    color: #fff;
    border: 0px;
}

.big {
    width:700px;
    height:555px;
}

/*new-guide*/
.new-guide {
    height:317px;
    width:100%;
    text-align:center;
    text-align:center;
    background-image: url('../images/buybg.jpg');
    /*background-size: 100%;*/
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.new-guide > h3 {
    display:inline-block;
    background-image:url('../images/commonproblem.png');
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    font-size:20px;
    height:64px;
    width:173px;
    line-height:64px;
}

.new-guide > h3{
    clear: both;
    position: relative;
    top: 50px;
    margin-bottom: 46px;
    /*font-weight: bold;*/
}

.new-guide > h3 > span {
    position: relative;
    top:-2px;
}

.new-guide > div{
    display: block;
    position: relative;
    top: 50px;
}

.new-guide > div > div {
    /*width: 1200px;*/
    display: inline-block;
}

.new-guide > div > div > ul {
    /*width: 25%;*/
    /*float: left;
    display: inline-block;
    margin-right: 50px;*/

    position: relative;
    /*width: 1000px;*/
    left: 78px;

    width:1200px;
}

.new-guide > div > div > ul > li {
    /*margin-bottom: 46px;
    list-style: disc;
    font-size: 14px;
    color: #999;
    text-align: left;*/
    margin-bottom: 46px;
    list-style: disc;
    font-size: 14px;
    float: left;
    width: 213px;
    color: #999;
    margin-right: 18px;
    text-align: left;
    
}

.new-guide > div > div > ul > li > a {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    top: 4px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new-guide > div > div > ul > li > a:hover {
    color: #5290cd;
}

.new-guide > div > div > ul > li > a.more {
    color: #5290cd;
}