body{position: relative;z-index: 800; background-color: #fff;font-family: "Microsoft YaHei";}
.container1200{width: 1200px;margin: 0 auto;}
.program_title{font-size: 12px;font-family: "SimSun";line-height: 4.073;color: rgb( 136, 136, 136 );}
.program_list{position:relative; width: 950px;}
.program_select{width: 100%;height: 40px;border-top: 1px solid #dfdfdf;border-bottom: 1px solid #dfdfdf;}
.program_select1 li{float: left;width: 85px;height: 100%;text-align: center;line-height: 40px;border-right: 1px solid #dfdfdf;}
.program_select1 li a{display: block;width: 100%;height: 100%;color: #666;}
.program_select1 li a:hover{color: #f60;}
.program_select1 li.active a{color: #f60;}
.program_select2 li{float: left;width: 42px;height: 40px;border-left:1px solid #dfdfdf; }
.program_select2 li a{margin: 7px auto 0; display: block;width: 26px;height: 26px;background: url(../images/program.png) no-repeat;cursor:pointer;}
.program_select2 li.sma_program a{background-position: -140px 0px;}
.program_select2 li.sma_program a:hover,.program_select2 li.sma_program_active a{background-position: -61px 0px;}
.program_select2 li.mid_program a{background-position: -168px 0px;}
.program_select2 li.mid_program a:hover,.program_select2 li.mid_program_active a{background-position: -86px 0px;}
.program_select2 li.big_program a{background-position: -194px 0px;}
.program_select2 li.big_program a:hover,.program_select2 li.big_program_active a{background-position: -113px 0px;}
.program_detail ul li{float: left;overflow:hidden;}
#schemelist {margin-bottom: 30px;position: relative;overflow:hidden;}
/*.picList { width: 300px;background: #FFF;margin: 0 6px 12px 6px;position: absolute;left: -999px;display: block; overflow: hidden;}*/
.program_smadetails .picList { width: 300px;box-shadow: 0 0 4px #CCC;background: #FFF;position: absolute;left: -999px;display: block;overflow:hidden;margin:10px 0px}
.program_middetails .picList { width: 448px;box-shadow: 0 0 4px #CCC;background: #FFF;position: absolute;left: -999px;display: block;overflow:hidden;margin:10px 0px}
.picList  .pic{overflow:hidden;}
.program_detail .infor{position: relative;padding: 8px; z-index: 1;background-color: #fff;width: 284px;}
.program_smadetails .infor h3{width:200px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.program_middetails .infor h3{width:320px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.program_detail .infor p{width:200px;overflow:hidden;white-space:nowrap;margin-top: 5px; font-size: 12px;line-height: 2.491;color: rgb( 78, 78, 78 );}
.program_detail .infor p.designerStyle{width:auto;}
.program_detail .infor p span{margin-right: 40px;}


.program_middetails .pic img{width: 448px;transition: all 800ms;}
.program_middetails>div:hover .pic  img{-moz-transform:scale(1.2);  -webkit-transform:scale(1.2);  -o-transform:scale(1.2);}
.program_middetails .pic .action {position: absolute;left: 0;bottom: 40px;width: 100%;padding: 12px 0;font-size: 14px;background: rgba(255,255,255,.6);text-align: center;transition: all 800ms;}
.program_middetails>div:hover .pic .action{bottom: 92px;}
.program_middetails .pic .action .btn-action{width: 95px;margin: 0 3px;display: inline-block;padding: 6px 12px;background-color: #f90!important;color: #fff;border: 0;cursor: pointer;text-align: center;border-radius: 3px;}
.program_middetails .pic .action .btn-action:hover{opacity:0.7;}
.program_middetails .infor_pic{margin: 16px 20px 0 0; width: 51px;height: 51px;border:1px solid #b8b8b8;border-radius: 51px;overflow: hidden;}
.program_middetails .infor{width:auto;}
.program_middetails .infor h3 a{font-size: 18px;line-height: 2.667;font-weight:normal; color: rgb( 31, 31, 31 );}

.program_smadetails .pic img{width: 300px;transition: all 800ms;}
.program_smadetails>div:hover .pic img{-moz-transform:scale(1.2);  -webkit-transform:scale(1.2);  -o-transform:scale(1.2);}
.program_smadetails .pic .action {position: absolute;left: 0;bottom: 20px;width: 100%;padding: 12px 0;font-size: 14px;background: rgba(255,255,255,.6);text-align: center;transition: all 800ms;}
.program_smadetails>div:hover .pic .action{bottom: 76px;}
.program_smadetails .infor_pic{margin: 5px 0 0 ; width: 51px;height: 51px;border:1px solid #b8b8b8;border-radius: 51px;overflow: hidden;}
.program_smadetails .infor h3 a{font-size: 14px;line-height: 1.867;color: rgb( 31, 31, 31 );}
.infor_pic a{display: block;}
.infor_pic img{display: block;width: 100%;height: 100%;}
.program_bigdetails .bigtem{position: relative;width: 100%;padding: 29px 0;border-bottom: 1px dashed #bcbcbc;}
.program_bigdetails .bigtem:first-child{padding-top:0;}
.program_bigdetails  .pic{position: relative; float: left;margin-right: 20px; width: 580px;height: 435px;overflow: hidden;}
.program_bigdetails  .pic img{width: 100%;height: 100%;transition: all 800ms;}
.program_bigdetails  .pic:hover img{-moz-transform:scale(1.2);  -webkit-transform:scale(1.2);  -o-transform:scale(1.2);}
.program_bigdetails  .pic .action {position: absolute;left: 0;bottom: -55px;opacity: 0;filter: alpha(opacity=0); width: 100%;padding: 12px 0;font-size: 14px;background: rgba(255,255,255,.6);text-align: center;transition: all 800ms;}
.program_bigdetails>div:hover .pic .action{bottom: 0px;display: block;opacity: 1;filter: alpha(opacity=100);}
.program_bigdetails .infor{position: relative; float: right;width: 350px;height: 423px;padding-bottom: 12px;}
.program_bigdetails .inford{padding:0 10px ;border-bottom: 1px solid #eaeaea;}
.program_bigdetails .inford h3{font-size: 22px;line-height: 1.667;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-family: "Microsoft YaHei";font-weight:normal; color: rgb( 31, 31, 31 );}
.program_bigdetails .inford p{font-size: 14px;line-height: 3.491;color: rgb( 125, 125, 125);}
.program_bigdetails .inford .people{float: right;}
.program_bigdetails .infor_designerd{position: relative; padding: 20px 0 ;}
.program_bigdetails .infor_designerd .photo{display: inline-block;margin-right: 10px; width: 51px;height: 51px;border: 1px solid #b8b8b8;border-radius: 51px;overflow: hidden;}
.program_bigdetails .infor_designerd .photo img{width: 100%;height: 100%;}
.program_bigdetails .infor_designerd .text{display: inline-block;vertical-align: top;}
.program_bigdetails .infor_designerd .text h4{font-size: 12px;font-weight: 600;line-height: 1.5; font-family: "Microsoft YaHei";}
.program_bigdetails .infor_designerd .text h4 a{color: rgb( 102, 102, 102 );}
.program_bigdetails .infor_designerd .text h4 a:hover,
.program_bigdetails .infor_designerd .text p a:hover{color:#ff6600;}
.program_bigdetails .infor_designerd .text p{position: relative;display:inline-block; margin-top: 15px; font-size: 12px;font-family: "Microsoft YaHei";color: rgb( 54, 136, 224);}

.program_bigdetails .infor_designerd .text p:after{position: absolute;right: -15px; content: url('../images/after.png');width: 12px;height: 11px;}
.program_bigdetails .infor_designerd a.view{position: absolute;top: 20px;right: 23px;border-radius: 3px; width: 51px;height: 26px;background-color: #f60;text-align: center;line-height: 26px;font-size: 12px;color: #fff;}
.program_bigdetails .infor_designerd a.viewBtn{position: absolute;top: 20px;right: 23px;border-radius: 3px; width: 51px;height: 26px;background-color: #f60;text-align: center;line-height: 26px;font-size: 12px;color: #fff;}
.program_bigdetails .infor_designerd a.view:hover,
.program_bigdetails .infor_designerd a.viewBtn:hover{opacity:0.7;}
.program_bigdetails .infor_designerd a.alview{position: absolute;top: 20px;right: 23px;border-radius: 3px; width: 51px;height: 26px;background-color: #c1c1c1;text-align: center;line-height: 26px;font-size: 12px;color: #fff;cursor:default;}

.program_bigdetails .designerStyle a{display: inline-block;margin-left: 10px; padding: 3px 5px;background-color: #e8e8e8;border-radius: 2px; font-size: 12px;line-height: 1;font-family: "Microsoft YaHei";color: rgb( 102, 102, 102 );}
.reserve_btn{display: block;margin: 30px auto;text-align: center;color: rgb( 255, 255, 255 );font-family: "Microsoft YaHei";font-size: 14px;line-height: 41px; width: 169px;border-radius: 3px;height: 41px;background-color: #f90;}
.reserve_btn:hover{opacity:0.7;color:#fff;}
.program_bigdetails .comment_list {padding: 0 15px;height: 114px;}
.program_bigdetails .comment_list li{padding: 0;border-bottom: 0;margin-bottom: 15px;line-height: 1.167;overflow:hidden;white-space: nowrap;text-overflow: ellipsis; color: #a1a1a1;font-family: "Microsoft YaHei";font-size: 12px;}
.program_bigdetails .comment_list li span{color :#a1a1a1;}
.program_bigdetails .comment_tit{width: 335px; position: absolute;left: 15px; bottom: 0; font-size: 12px;font-family: "Microsoft YaHei";}
.program_bigdetails .comment_tit a{color: rgb( 125, 125, 125 );}
.program_bigdetails .comment_tit .comment_btn i{display: inline-block;width: 14px;height: 12px;background: url(../images/comment.png) no-repeat -16px 0;margin-right: 3px;}
.program_bigdetails .comment_tit .comment_btn:hover{color:#ff6600;}
.program_bigdetails .comment_tit .comment_btn:hover i{background-position: -1px 0;}
.program_bigdetails .comment_tit .more_comment{float: right;margin-right: 27px;}
.program_bigdetails .comment_tit .more_comment:hover{color:#ff6600;}






